@media screen and (min-width: 2500px) {
  .main.nav-wrap #page-content-wrapper{max-width:1680px;margin:0 auto;display:block;}
}
 
@media only screen and (min-width: 1920px){
    .product-listinview .product-itemBox{width: 16.66% !important;}
}

@media only screen and (max-width: 1400px) {
    /* all-product-list */
    .all-product-list .product-itemBox{max-width: 25%;min-width: 25%;}
}
@media only screen and (max-width: 1366px) {
    .header .justify-content-md-center { margin-left: 0; }  
    .product-listinview .product-itemBox{padding: 0 5px;}
    /* all-product-list */
    .all-product-list .product-itemBox{max-width: 33.33%;min-width: 33.33%;}
}

@media only screen and (max-width: 1200px) { 
    .has-search, .header .justify-content-md-center ul { width: 350px; } 
    .main.home-page #page-content-wrapper{padding:0;}
    .main .product-slider-section  .sub-title ,.main .category-slider-section  .sub-title {padding:0 15px;}
    .main.nav-wrap #page-content-wrapper { width: 100%; margin-left: 0; }
    .home-page.nav-wrap .page-overlay{display: block;}

    .product-listing-content .contentWrap .single-product-listing .product-itemBox{width:25%;padding: 0 6px;}
    .product-itemBox .pro-details h4{font-size:18px;}

    /* Banner */
    .banner-caption{bottom:0;top:auto;left:0;width:100%;transform:none;max-width:100%;}
    .banner-caption p{margin-bottom:0;}
    .banner-caption .shopnow-link{display:none;}
    .banner-slider img{height:350px;object-fit:cover;}
    .main .banner-slider-section { max-height: 350px;}
    .product-listinview .product-itemBox{width: 33.33% !important;}
    .category-slider-section.section{padding: 0 0 0 15px; }
    /* all-product-list */
    .all-product-list .product-itemBox{max-width:50%;min-width:50%;}
}

@media only screen and (max-width: 1024px){
    .btn:hover{background-color: transparent!important;background-position: right!important;border-color: #dadce0!important;}
    .product-listing-content .contentWrap .product-listing-wrap{padding: 30px 20px;}
    .product-slider-part .owl-carousel .owl-stage , .category-slider-section .owl-carousel .owl-stage{overflow-x: auto; overflow-x: scroll!important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch!important; display: flex; width: auto!important; transform: translate3d(0px, 0px, 0px)!important; }
    .product-slider-part .owl-carousel .owl-stage-outer , .category-slider-section {overflow-x: auto!important;overflow-x: scroll!important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch!important; }
    .product-slider-part .owl-carousel .owl-stage-outer , .category-slider-section .owl-carousel .owl-stage-outer{overflow-x: auto!important; width: auto!important;overflow-x: scroll!important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch!important;}
    .product-slider-part .owl-carousel .owl-item , .category-slider-section .owl-carousel .owl-item{touch-action: inherit;min-width: 240px!important;}

    .categoryList-mobile .owl-carousel .owl-stage{overflow-x: auto; display: flex; width: auto!important; transform: translate3d(0px, 0px, 0px)!important; overflow-x: scroll!important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch!important;}
    .categoryList-mobile {overflow-x: auto!important; }
    .categoryList-mobile .owl-carousel .owl-stage-outer{overflow-x: auto!important; width: auto!important;overflow-x: scroll!important; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch!important;}
    .categoryList-mobile .owl-carousel.owl-drag .owl-item{touch-action: inherit;white-space: nowrap;}

    .main .sidebar .navbar-nav {padding: 20px 0px 20px;}
    .categoryList-mobile .product-cat-slider .item a:hover{background: #eee; color: rgba(0, 0, 0, 0.87);}
    .filter-sidebar .filter-header .btn{margin-top: 0; padding: 0;}

}

@media only screen and (max-width: 991.98px) { 
    
    /* Header */
    .header { height: 70px; }
    .header .navbar { padding: 8px 25px; }
    .header .navbar .navbar-brand { width: 180px; }
    .header .navbar .navbar-right .dropdown-menu { top: 56px; }
    .header .navbar .navbar-right .login-btn { margin-right: 15px; }
    .header .navbar .navbar-right .login-btn span { font-size: 22px; }
    .header .navbar .navbar-right .login-btn label { display: none; } 
    .navbar-right .btn span{display:none;}
    .nouser{margin-top:5px;}
    .header  .nav-sm{margin-top:0;}

    .main { margin-top: 80px!important;display: block;} 
    .main.nav-wrap .sidebar {-webkit-box-shadow: 0 4px 5px -3px rgba(0,0,0,0.2), 0 8px 12px 2px rgba(0,0,0,0.14), 0 6px 20px 5px rgba(0,0,0,0.12); box-shadow: 0 4px 5px -3px rgba(0,0,0,0.2), 0 8px 12px 2px rgba(0,0,0,0.14), 0 6px 20px 5px rgba(0,0,0,0.12); }
    .owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{padding:0 20px !important;}
    /*.main .sidebar{top:70px;height: calc(100% - 65px);}*/
    .product-itemBox-more{width:320px;}
    .sidebar.toggle-sidenav{
        left: 0;
        transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease;
        }
    .main.nav-wrap #page-content-wrapper {width: 100%; margin-left: 0; }

    /* Banner slider */
    /*.banner-caption{position: static;}*/
    .banner-slider{display: none;}
    .banner-slider.mobile-banner{display: block;}
    .banner-slider p.mobile-banner-title{font-size: 26px; line-height: 32px;}
    .main .banner-slider-section .banner-slider.mobile-banner img{height: 320px;}
    .banner-slider.mobile-banner .banner-caption{padding: 16px 24px;}

    /* Filter */
    .filter-sidebar { top: 67px;}
    .filter-sidebar .category-nav { overflow: hidden; overflow-y: auto; } 

    .product-details-content .pro-detailsBox-border { border-right: none; }
    .product-details-content .product-itemBox { display: inherit; margin: 0 auto 20px; } 
    
    /* product-item-delivery-Info */
    .product-item-delivery-Info .priceBox { display: inline-block; padding: 20px 0 0; }
    .product-item-delivery-Info .priceBox h2 { display: inline-block; margin-right: 30px; }
    .product-item-delivery-Info .priceBox span { display: inline-block; } 

    /* Cart-items */
    .cart-items-list li { display: inline-block; }
    .cart-items-list li .item-imgbox { display: inline-block; }
    .cart-items-list li .item-quantityBox { display: inline-block;margin-top:15px; }
    .cart-items-list li .priceBox { display: inline-block; margin-top: 20px; } 
    .cart-content .selected-items-list .sub-title{font-size: 2.0em;}
    
    /* profile */
    .profile-wrap .flex-column { flex-direction: initial !important; }
    .profile-wrap .profile-tabs .nav-pills { border: none; }
    .profile-wrap .profile-tabs .nav-pills .nav-link { padding: 8px 20px; border-radius: 50px; border: 1px solid rgba(0, 0, 0, 0.1); margin: 0 10px 10px 0; }
    .profile-wrap .profile-tabs .nav-pills .nav-link:last-child { border: 1px solid rgba(0, 0, 0, 0.1); }
    .profile-wrap .profile-tabs .nav-pills .nav-link span { margin-right: 12px; font-size: 14px; } 
    .cart-items-list li .item-info {width:55%;}

    .aboutus-content .lg-title { font-size: 2.8em; padding: 10px 0 25px; }

    .product-listing-content .contentWrap .single-product-listing .product-itemBox{width:50%!important;min-width: auto;}
}

@media only screen and (max-width: 899.98px) { 
    .mobile-d-none { display: none !important; } 
    .mobile-d-block { display: block !important; } 

    /* Header */
    .header .navbar .navbar-brand { width: 180px; }
    .header .navbar .has-search, .header .justify-content-md-center ul { width: 300px; }
    .header .navbar .navbar-right .dropdown-menu { top: 41px; width: auto; left: inherit; right: -45px; } 

    /* product-listing-content */
    .product-listing-content .breadcrumb-wrap { padding: 8px 20px; }
    .product-listing-content .breadcrumb-wrap .selectdropdownBox { width: 100%; }
    .product-listing-content .breadcrumb-wrap .selectdropdownBox .btn.filter-btn { float: right; }
    .filter-sidebar.open-filter-nav {display: inline-block; }
    .product-listing-content .category-sidebar { display: none !important; }
    .product-listing-content .product-listing-wrap { width: 100% !important; } 

    /* categoryList-mobile */
    .categoryList-mobile { display: inline-block; margin: 10px 0 0;}
    .categoryList-mobile .owl-nav button.owl-next, .categoryList-mobile .owl-nav button.owl-prev { height: 36px; }
    .categoryList-mobile .owl-nav button.owl-next span, .categoryList-mobile .owl-nav button.owl-prev span { font-size: 28px; line-height: 28px !important; } 

    /* input range */
    /*.input-range {position: static;height: 30px;}*/
    .category-nav .card.custom-input-range .card-body.radiobtn-nav-list {padding: 33px 20px !important; overflow-x: hidden;}    

    .product-listing-content .contentWrap .single-product-listing .product-itemBox{width:33.33%!important;}
    /* all-product-list */
    .all-product-list .product-itemBox{max-width: 33.33%;min-width: 33.33%;}

    .filter-sidebar.open-filter-nav { right: 0; box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);}
    .dropdown-select.ant-select{min-width: 150px;}

}

@media only screen and (max-width: 767.98px) { 
    .main {margin-top: 80px!important; }        
    .mb-50{margin-bottom: 30px;}
    .mb-30 { margin-bottom: 15px; } 
    .mb-20{margin-bottom: 10px;}
    .section { margin-bottom: 20px; }
    .form-control[readonly] {background:#fff !important;}
    .main-title { font-size: 1.250em; }

    .image-gallery-image{max-width:100%;min-width:100%;margin: 15px auto;}
    .image-gallery-thumbnails-wrapper{margin-top: 0;margin-bottom: 15px;}       
    .product-more-info .review-buttonBox{padding: 15px 0;}

    .sub-title { /*font-size: 1.125em;*/ font-size: 22px;font-weight: 400;}
    .styles_modal__gNwvD{min-width:100%;overflow-y:auto;/*display:flex;*/align-items:center;justify-content:center;}
    .styles_modal__gNwvD .image-gallery-image{ min-width:280px; height: 280px; max-width: 280px; max-height: 280px;}
    .image-gallery-image {min-width: 290px; height: 290px; max-width: 290px; max-height: 290px; }
    .review-rating-wrap .wrapInfo{max-width: 600px;}

    /* Header */
    .header{height:80px;}
    .header .navbar {height: 52px; align-items:center; border-radius: 12px; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.24), 0 -1px 1px rgba(0,0,0,.04); -moz-box-shadow: 0 1px 1px rgba(0,0,0,.24),0 -1px 1px rgba(0,0,0,.04); box-shadow: 0 1px 1px rgba(0,0,0,.24), 0 -1px 1px rgba(0,0,0,.04); width: 95%; margin:15px auto; padding: 5px 20px; }
    .header .justify-content-md-center ul{position: fixed; top: 67px; left: 0;width: 100%;}
    .header .left-navBox{padding:5px;}
    .header .navbar .navbar-brand { display: none; }
    .header .navbar .has-search .downshift-dropdown{position: absolute;left:0;right:0;top:50px;}
    .header .navbar .justify-content-md-center {  width: calc(100% - 130px); margin-left: -10px;}
    .header .navbar.headersearchbox .justify-content-md-center {width: calc(100% - 60px); margin-left: -10px;}
    .header .navbar .has-search { margin-bottom: 0; position: initial; width: 100%; }
    .header .navbar .has-search .form-control { height: 35px; width: 100%; padding: 8px 12px; }
    .has-search .form-control:focus{border-color: transparent;background-color: transparent;}
    /*.header .navbar .has-search .form-control:focus { position: fixed; top: 0; left: 0; width: 100%; height: 70px; border-radius: 0; z-index: 1; border: none; box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) !important; }
    */
    .header .navbar .has-search .form-control-feedback { display: none; }
    .header .navbar .navbar-right .btn.dropdown-toggle { padding: 5px 10px; margin-right: 8px; }
    .header .menuBtn { position: initial;padding: 5px;    display: flex;
    align-items: center;
    justify-content: center; }
    .header .menuBtn img { width: 20px; }
    .header .navbar-right .cartIcon-box { width: auto; height: auto; background-color: transparent; }
    .header .navbar-right .cartIcon-box span { top: -5px; left: 10px; font-size: 10px; height: 16px;min-width:16px;padding:0;line-height:18px; } 
    .header .navbar-right .login-btn img{margin:5px 0 0;}
    .header  .nav-sm{margin-top:0;}
    .slider-wrapper{width:90% !important;}

    /* Sidebar */
    .main .sidebar .navbar-nav { padding: 20px 0px 20px !important; }
    .main .sidebar .navbar-nav .nav-item { padding: 0 15px; }
    .main .sidebar .navbar-nav .nav-item .nav-link { font-size: 14px; }
    .main .sidebar .navbar-nav .nav-item .nav-link img { margin-right: 10px; }
    .main .sidebar .navbar-nav .nav-item .nav-link .badge { font-size: 12px; }
    .main .sidebar .navbar-nav { height:calc(100% - 160px); }
    .main .banner-slider-section .banner-slider { width: 100%; }
    .main .sidebar { width: 280px;top: 0;height: 100%; }
    .main #page-content-wrapper { padding:25px 10px; }
    .main.home-page #page-content-wrapper{padding:0;}
    .main .section .sub-title { font-size: 22px; margin-bottom: 20px;  font-weight: normal;}


    .main.nav-wrap .sidebar .navbar-brand { display: block; text-align: center; margin: 15px 15px 0 15px; width: 70%; }
    .product-details-content .breadcrumb{display:none;}
    .product-details-content .pro-detailsBox-border{padding-top:15px;}
    .header .navbar-right{margin: 0px 0 0;}

    .main.nav-wrap .sidebar{overflow-y: auto;}
    .main .sidebar .navbar-nav{overflow-x: auto; height: auto; margin: 0;}
    .main .sidebar .sidebar-footer{position: static;}
    /* owl carousel */
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next { padding: 0 12px !important;display: none; }

    /* Login page */
    .login-wrap { padding: 30px 15px; top: 0; left: 0; transform: initial; position: initial; margin: 0 auto; width: 100%; }
    .login-wrap .text-right { text-align: center !important; margin: 10px 0 0; }
    .login-wrap .custom-checkbox { margin-left: 0px; }
    .login-wrap .form-control { height: 40px; }
    .login-wrap p { margin-bottom: 20px; }
    .login-wrap .mb-50 { margin-bottom: 20px; }
    .login-wrap .mt-38 { margin-top: 20px; } 

    .cat-no-image{width:100%;}
    .product-listing-content .cat-banner-stripe .cat-banner-name { width: 100%; height: 55px; background: transparent;justify-content: flex-start;order:2;}
    .product-listing-content .cat-banner-stripe .cat-banner-name h3 {color: #414141; }
    .product-listing-content .cat-banner-stripe{flex-wrap: wrap;}
    .product-listing-content .cat-banner-stripe .cat-banner-img { width: 100%; order:1;} 

    .product-details-content .item-description{margin-top:20px;}
    .swal-title{font-size:20px;}
    .product-listing-content .product-listing-wrap { padding: 20px 10px !important; }
    .product-itemBox .imgBox img{max-height: 100px;height: 100px;}

    .couponcodeStripe { align-items: flex-start; }
    .couponcodeStripe h4 { font-size: 1em !important; } 
    .product-stars-ratting { max-width: 280px; margin: 0 auto; display: inherit; } 
    .cart-content {padding-top: 10px; }
    .cart-content .selected-items-list{margin-bottom: 30px;}
    
    /* Cart */
    .cart-items-list li{padding:10px;}.cart-items-list li .item-quantityBox{margin-right:0;} .profile-wrap .profile-tabs .nav-pills { text-align: center; display: inline-block; width: 100%; }
    .profile-wrap .profile-tabs .nav-pills .nav-link { font-size: 0px; width: 45px; padding: 14px 12px; display: inline-block; margin: 0 4px; }
    .profile-wrap .profile-tabs .nav-pills .nav-link span { margin-right: 0; }
    .cart-items-list li .item-info{width:100%;display: flex;justify-content: space-between;}
    .cart-content .selected-items-list .cart-totalBox {max-width:180px; }
    .cart-items-list li .item-info .action-text{display: block;}
    .cart-items-list li .item-info .action-text .btn{padding-left: 0!important;padding-right: 5px!important;}
    .cart-items-list li .item-info-wrapper{width: calc(100% - 75px);}


    .myorderBox .cart-items-list li .item-info { width: 100%; margin-bottom: 10px; }
    .myorderBox .cart-items-list li .item-info h6 { font-size: 14px;margin-bottom: 5px; } 
    .myorderBox .cart-items-list li .priceBox{margin-top: 0;}
    .myorderBox .cart-items-list li .priceBox h6{margin: 0;}
    .myorderBox .cart-items-list li .item-info .deleveryTags span{margin-bottom: 5px;}


    /* About-us */
    .aboutus-content .lg-title { font-size: 2em; padding: 10px 0 25px; }
    .aboutus-content p { padding-bottom: 15px; }
    .aboutus-content .mb-30 { margin-bottom: 15px; }
    .aboutus-content .infoBox { padding: 30px 0 0; }
    .aboutus-content .infoBox p { margin-bottom: 0; } 
    .cart-content .selected-items-list .cart-totalBox{max-width:100%;display:block;}
    .cart-content .selected-items-list .cart-totalBox .btn{width: 100%;display: block;}

    .confirmBox img { max-width: 150px; }
    .confirmBox h2 { font-size: 24px; margin: 18px 0; }
    .confirmBox p { font-size: 0.875em; } 

    body .styles_modal__gNwvD .image-gallery-image{margin:100px auto 0;}
    .personal-Information .btn-primary.mt-20{margin-top:0;}
    .filter-sidebar { top: 80px; display: inline-block; }
    .filter-sidebar .filter-header .btn{margin-top: 0; padding: 0;}
    .product-itemBox .imgBox{padding:0;height: auto;margin-bottom: 10px;}  
    .product-itemBox .pro-details a{padding-top: 0;min-height: 39px;}
    .product-itemBox-more .moreBtn{height: 280px;}
    .main .banner-slider-section { max-height: 250px;}
    .banner-slider img{height:auto;}
    .banner-caption{padding:10px;/*position: inherit;*/transform: inherit;}
    .banner-caption h3{font-size:16px;}
    .banner-slider p{font-size:12px;}
    .downshift-dropdown{box-shadow:none;height:calc(100vh - 70px);top:70px !important;background:#fff;overflow:auto;position: fixed !important;left:0;right:0;width:100%;}
    .header .navbar .has-search .mobile-search.form-control{background:none;/*margin-left:-40px;*/width:100%;}
    .has-search.form-group .mobile-search.form-control:focus{box-shadow: none !important; border:none !important;}
    .product-slider-section .product-itemBox{max-width:250px;}
    .product-slider-section .owl-item.active,.product-slider-section .owl-item{width: auto !important;margin-right: 0 !important;}
    /*.product-item-delivery-Info .btn.btn-block{max-width:300px;margin:0 auto;}*/
    .headersearchbox .menu-wrapper .menuBtn{display: none !important;}
    .navbar .menu-wrapper .search-arrow{display: none; }
    .navbar.headersearchbox .menu-wrapper .search-arrow{display: block !important;}
    /* .navbar .navbar-right .mobile-icon{display: none} */
    .navbar.headersearchbox .navbar-right .mobile-icon{display: block !important;}
    .headersearchbox .navbar-right .desktop-icon{display: none;}
    /*.main .sidebar{top: 80px;height: calc(100% - 75px);}*/
    /* .shop-cat-slider .owl-stage .owl-item .categoryBox img {height: 170px;} */
    .product-slider-section .product-itemBox{padding: 0 10px;}
    .product-listinview .product-itemBox{width: 50% !important;}
    .confirmBox h2{    font-size: 20px;}
    .confirmBox img{max-width: 100px;}
    .shop-cat-slider .owl-stage .owl-item .categoryBox .img-box{/*width: 300px;*/width: 100%;height: 110px;}
    /*.product-listing-content .contentWrap .single-product-listing .product-itemBox{width:50%!important;}*/
    .categoryBox .cat-title h5{max-width: 260px;}

    .product-itemBox-more{width:240px;}
    .cart-content .selected-items-list .card .card-header{padding: 15px;}

    /* Product-detail-page */       
    .pro-details-commentsBox{padding: 15px 0;}      
    .product-more-info{padding: 15px 0;}        
    .product-more-info p{margin-bottom: 0;}     

    .main .banner-slider-section .banner-slider.mobile-banner img{height: 250px;}
    .product-listing-content .contentWrap .single-product-listing .product-itemBox{padding: 5px;}
    .product-listinview .product-itemBox .pro-details .btn{padding: 8px;}

    /* all-product-list */
    .all-product-list .product-itemBox{max-width: 50%;min-width: 50%;}

    .item-quantityBox.desktop-addto-cart-btn,.cart-items-list li .priceBox.desktop-addto-cart-btn{display: none!important;}
    .cart-items-list li .mobile-add-to-cart .priceBox{width: auto;}
    .mobile-add-to-cart{display: flex;align-items: center;flex-wrap: wrap;padding-bottom: 15px;justify-content: space-between;border-bottom: 1px solid rgba(0,0,0,0.2);}
    .cart-items-list li .mobile-add-to-cart .item-quantityBox,.cart-items-list li .mobile-add-to-cart .priceBox,.cart-items-list li .mobile-add-to-cart .item-quantityBox .form-group,.cart-items-list li .item-info{margin: 0;}
    .cart-items-list li .item-info{padding-right: 0;}

    .mobile-cart-view{display: block;width: 100%;}
    .mobile-cart{display: none!important;}

}



@media only screen and (max-width: 575.98px) {
    /* Sidebar */
    .main .sidebar .navbar-nav { padding: 20px 0px 20px; } 

    /* Checkout page */
    .checkout-content .wizard-progress .step-indicator li .step { height: 24px; line-height: 24px; width: 24px; }
    .checkout-content .wizard-progress .step-indicator li:after { height: 5px; top: 10px; }
    .checkout-content .wizard-progress .step-indicator .caption { padding: 11px 11px; font-size: 12px; } 
    .checkout-content .checkout-process .card .card-header a { padding:20px 15px; }
    .checkout-content .checkout-process .card .card-header a.collapsed { padding: 20px 15px; }
    .checkout-content .checkout-process .card .card-body { padding: 15px 15px 0; } 
    .checkout-content .wizard-progress{margin:30px auto;}
    .checkout-content .checkout-process .card .card-header img{margin-right: 0;}
    .confirmBox img {max-width: 60px; }
    .product-listing-content .contentWrap .single-product-listing .product-itemBox{width:50%!important;padding: 5px;}

    .product-listinview .product-itemBox .pro-details{padding: 0;}
    .product-listinview .product-itemBox .pro-details .btn{padding: 8px;}

    .error-detail{order: 1;margin-bottom: 20px;text-align: center;}
    .error-img{order: 2;text-align: center;}
    .error-img img{max-width: 60%;}
    
    .my-cart .deleveryTags{margin-bottom: 10px;}
    .my-cart .deleveryTags span{width: 100%;}
    
}


@media screen and (max-width: 479px) {
    /*.product-listing-content .contentWrap .single-product-listing .product-itemBox{width:100%;flex-wrap: wrap; justify-content: center;padding: 16px 0;}
    .product-listing-content .contentWrap .single-product-listing .product-itemBox a{width:100%;}
    .product-listinview .product-itemBox .pro-details {width: 100%; }*/

    .sub-total{margin-top:0px;}
    body .styles_modal__gNwvD .image-gallery-image{margin:0px auto;padding:10px;overflow: hidden;}
    .cart-items-list li .priceBox{width:100%;float: left;margin-top:0;display: flex; align-items: center;}
    .cart-items-list li .priceBox label{margin-bottom: 0;margin-right: 15px;}
    .cart-items-list li .priceBox h6{margin: 0;}
    .banner-caption h3{font-size: 14px;}
    .categoryBox .cat-title h5{font-weight: 600;font-size: 0.875em;max-width: 260px;}
    .product-listinview .product-itemBox{width: 100% !important;margin-bottom: 20px;padding-bottom: 15px;}
    /*.product-listinview .product-itemBox .pro-details{width: calc(100% - 130px); padding: 0px 5px 0px 10px;}*/
    .product-listinview .product-itemBox .imgBox{min-width: 100px;}
    .shop-cat-slider .owl-stage .owl-item .categoryBox .img-box{/*width: 300px;*/width: 100%;height: 130px;}
    /*.product-listing-content .contentWrap .single-product-listing .product-itemBox{width:100%!important;}*/
}

@media only screen and (max-width: 413px) { 
    /* Sidebar */
    .main.nav-wrap .sidebar { width: 290px;/*  height: calc(100% - 65px);*/}
    .main.nav-wrap .sidebar .navbar-nav { padding: 20px 15px 20px; }
    .main.nav-wrap .sidebar .navbar-nav .nav-item .nav-link { font-size: 14px; }
    .main.nav-wrap .sidebar .navbar-nav .nav-item .nav-link img { margin-right: 10px; }
    .main.nav-wrap .sidebar .navbar-nav .nav-item .nav-link .badge { font-size: 12px; }
    .main.nav-wrap .sidebar .sidebar-footer { padding: 12px 15px 12px 25px; } 

    .product-itemBox{width:100%;max-width:100%;}

    .cart-items-list li .item-info{margin-bottom: 0;}
    .mobile-add-to-cart{display: flex;align-items: center;flex-wrap: wrap;padding-bottom: 15px;justify-content: space-between;border-bottom: 1px solid rgba(0,0,0,0.2);}
    /*.desktop-addto-cart-btn{display: none!important;}*/

    .mobile-add-to-cart .item-quantityBox{margin-top: 0;margin-bottom: 0;}
    .mobile-add-to-cart .priceBox{justify-content: flex-end;}
    .cart-items-list li:last-child .mobile-add-to-cart{border-bottom: none;padding-bottom: 0;}
    .product-listinview .product-itemBox .pro-details{width:100%; padding: 0;}
    .all-product-list .product-itemBox .pro-details .btn{padding: 8px 5px;}
    .all-product-list .btn-text{font-size: 12px!important;}
}   

@media screen and (max-width: 374px) {
    .product-listing-content .contentWrap .single-product-listing .product-itemBox{width:100%!important;flex-wrap: wrap; justify-content: center;padding: 16px 0;}
    .product-listing-content .contentWrap .single-product-listing .product-itemBox a{width:100%;}
    .product-listinview .product-itemBox .pro-details {width: 100%; }
    .product-listinview .product-itemBox{width: 100% !important;display: flex !important;border-bottom: 1px solid #e9e9e9;padding-bottom: 15px;}
    .product-listinview .product-itemBox .pro-details{width: calc(100% - 130px); padding: 0px 5px 0px 10px;}
    .product-listinview .product-itemBox .pro-details .btn{padding: 8px 15px;}
    .product-listing-content .contentWrap .single-product-listing .product-itemBox:last-child{border-bottom: 0;padding-bottom: 0;margin-bottom: 0!important;}
    /* all-product-list */
    .all-product-list .product-itemBox{max-width: 100%;min-width: 100%;}
    
    

}
@media screen and (max-width: 360px) {
    .addressBox .col-6{flex: 0 0 100%;max-width: 100%;}
    .addressBox .custom-checkbox{margin-bottom:0 !important;}
    .addressBox .col-6.text-right{text-align:left !important;margin:5px 0;}
    .product-listinview .product-itemBox .imgBox{min-width: 70px;}
    .product-listinview .product-itemBox .pro-details{width: calc(100% - 100px);}
    .categoryBox .cat-title h5{max-width: 180px;}
    .shop-cat-slider .owl-stage .owl-item .categoryBox .img-box{/*width: 220px;*/width: 100%;height: 110px;}
    .product-itemBox .pro-details .btn{padding: 8px 10px 5px;}

    /*.product-itemBox .pro-details .btn button{margin: 5px 0 0;}*/
}
/*@include sm { .wishlist-items .cart-items-list li .item-info { width: 100%; } }*/
