/* Extra Large devices*/
/*Large devices (desktops, grater than 1200px)*/
/*Large devices (desktops, less than 1200px)*/
/*tablets,desktops, grater than 992px*/
/* Medium devices (tablets, less than 992px) */
/*tablets,desktops, grater than 900px*/
/* Medium devices (tablets, less than 900px) */
/*tablets,desktops, grater than 768px*/
/* Small devices (landscape phones, less than 768px)*/
/* Extra small devices (portrait phones, less than 576px) */
/* Extra small devices (portrait phones, less than 413px) */
/*font-color*/
/*Font Size*/
/*Brand color*/
/*Color*/
/*Gradiant Style*/
/*Background color Style*/
/*Border color Style*/
/*Button color Style*/
/*Form*/
/* Nav */
/*fonts include*/
/* Select Style */
/* .ant-select-selection__placeholder{display: block !important;    left: 13px;  color: #495057;}
.quantitybox .ant-select-selection__rendered{width: 100%;margin: 0; padding: 6px 20px 6px 15px;} */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900'); */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css');
@font-face { font-family: 'icomoon'; src: url("../iconmoon/icomoon.eot?2i830z"); src: url("../iconmoon/icomoon.eot?2i830z#iefix") format("embedded-opentype"), url("../iconmoon/icomoon.ttf?2i830z") format("truetype"), url("../iconmoon/icomoon.woff?2i830z") format("woff"), url("../iconmoon/icomoon.svg?2i830z#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ 
  font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }


/* custom icons */

.icon-icon-book:before { content: "\e900"; }
.icon-icon-calendar:before { content: "\e901"; }
.icon-icon-cart:before { content: "\e902"; }
.icon-icon-credit-card-black:before { content: "\e903"; }
.icon-icon-envelope:before { content: "\e904"; }
.icon-icon-my-order:before { content: "\e909"; }
.icon-icon-heart-outline:before { content: "\e905"; }
.icon-icon-invoice:before { content: "\e906"; }
.icon-icon-locked:before { content: "\e907"; }
.icon-icon-logout:before { content: "\e908"; } 
.icon-icon-placeholder-icon:before { content: "\e90a"; }
.icon-icon-search:before { content: "\e90b"; }
.icon-icon-user:before { content: "\e90c"; }

/* Defaults */
html body{ font-family: "Roboto", sans-serif; font-size: 16px; -webkit-font-smoothing: antialiased; font-weight: 400; }
a:hover, a:focus { text-decoration: none !important; outline: none; color: #2472DC; }
a, button{cursor: pointer !important;}
button:focus, button:active { outline: 0 !important; box-shadow: none !important; }

/* form control */
.form-control:focus{    outline: none !important;  box-shadow: none !important;}
.form-control:disabled, .form-control[readonly]{background-color: #F0F0F0;}
.form-group { margin-bottom: 1.250em; position: relative; }
.form-group .form-control:focus { box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important; border-color: #414141 !important; }
.form-group .error-msg {font-size: 12px; background-color: transparent; display: inherit;color: red; }
.error-msg {
  font-size: 12px;
  background-color: transparent;
  display: inherit;
  color: red;
}
.form-control { padding: 11px 15px; height: auto; }
.form-control:focus { outline: none; box-shadow: none; }
.form-control.input-error { border-color: red !important; }
.form-control:disabled { border: none; }
.cart-feild .form-control:disabled, .cart-feild .form-control[readonly]{background-color: #FFFFFF !important;}
.dropdown-item.active, .dropdown-item:active { background-color: #2472DC; }

/* input style */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button ,input[type=number]{-webkit-appearance: none; -moz-appearance: none; margin: 0; }
input[type=number] {-moz-appearance:textfield; -webkit-appearance: textfield !important; }

/* Button */

.btn { padding: 12px 20px; font-size: 0.875em;  border-radius: 4px; color: #2472DC; }
.btn:focus { box-shadow: none; }
.btn:hover { background-color: rgba(36, 114, 220, 0.05) !important; border-color: rgba(36, 114, 220, 0.25) !important; color: #2472DC; }
.btn.btn-secondary { background: #51C842; color: #2472DC; border-color: #51C842; }
.btn.btn-secondary:focus, .btn.btn-secondary:hover:not(:disabled), .btn.btn-secondary:active, .btn.btn-secondary:not(:disabled):not(.disabled):active, .btn.btn-secondary:not(:disabled):not(.disabled).active, .show > .btn.btn-secondary.dropdown-toggle { background: #3ea730; border-color: #3ea730; color: #2472DC; }
.btn.btn-primary ,.swal-button{background: linear-gradient(to right, #2472DC 0%, #2a5298 51%, #2472DC 100%); background-position: right;  transition: all 0.5s; background-size:250% 100%; padding: 10px 20px; font-size: 0.875em; background-color: #fff;  border-radius: 4px;  color: #FFF !important; border: 0; /*&:hover{ color: #fff; background-color: $color-primary; }*/ }
.btn.btn-primary:hover,.swal-button:hover {background-position:left; background-color: #0a55bb !important; color: #fff; }
.swal-button{font-size:initial;}
.btn.btn-info { padding: 12px 20px; font-size: 0.875em; background-color: #fff; border-color: #E5E5E5; border-radius: 4px; color: #2472DC; background-color: #fff; border: 1px solid transparent; }
.btn.btn-info:hover, .btn.btn-info:active, .btn.btn-info.active { background-color: rgba(36, 114, 220, 0.05) !important; border: 1px solid rgba(36, 114, 220, 0.25) !important; color: #2472DC; }
.btn.filter-btn { border: none; padding: 8px 15px; margin: 5px 0 0; text-transform: uppercase; padding-right: 0; }
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle { background-color: rgba(36, 114, 220, 0.05) !important; border: 1px solid rgba(36, 114, 220, 0.25) !important; color: #2472DC; box-shadow: none; }
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus { background-color: rgba(36, 114, 220, 0.05) !important; border: 1px solid rgba(36, 114, 220, 0.25) !important; color: #2472DC; box-shadow: none; }
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus { background-color: #0a55bb !important; border: 1px solid rgba(36, 114, 220, 0.25) !important; color: #fff; }
.btn-default{background: #2472DC!important;color: #fff!important;}
.btn-default:hover{background: #fff!important;color: #2472DC!important;}
.btn-line{background: #fff;border: 1px solid #2472DC;padding: 8px 20px;}
.btn-link{padding: 0!important;}
.btn-link:hover{border-color: transparent!important;background-color: transparent!important;}
.btn-sm{padding: 6px 10px!important; font-size: 14px!important;}

/* Select box */
.bootstrap-select .dropdown-toggle { background-color: #F0F0F0; color: #757575; border-color: transparent; }
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select .dropdown-toggle:active, .bootstrap-select .dropdown-toggle:hover { box-shadow: none; outline: none !important; border: 1px solid #414141; }
.bootstrap-select .dropdown-toggle .filter-option { outline: none; box-shadow: none; }
.bootstrap-select .btn:hover { background-color: #F0F0F0 !important; border-color: #414141 !important; color: #414141; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

/* Search bar */
.has-search { position: relative; width: 650px;margin-bottom: 0; }
.has-search .form-control { padding-right: 2.375rem; width: 100%; border-radius: 4px; background-color: #F0F0F0; border-color: transparent; height: 50px; font-size: 0.875em; }
.has-search .form-control:focus{border-color: transparent;background-color: #F0F0F0;}
.has-search .form-control-feedback { position: absolute; z-index: 2; display: flex; align-items: center; justify-content: center; width: 2.375rem; height: 2.375rem; line-height: 2.375rem; text-align: center; color: #aaa; right: 5px; top: 6px; padding: 0; border: none; background-color: transparent; cursor: pointer; }
.has-search .dropdown-item{white-space: initial;}
.downshift-dropdown{box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);position: absolute;left: 0;right: 0;}

.main .section.category-slider-section .sub-title{cursor: auto;}



/* radio button */
.radiobtn-nav-list { padding: 15px 0 !important; /* Create a custom radio button */ /* When the radio button is checked, add a blue background */ /* Create the indicator (the dot/circle - hidden when not checked) */ /* Show the indicator (dot/circle) when checked */ /* Style the indicator (dot/circle) */ }
.radiobtn-nav-list .radio-container { display: block; position: relative; padding-left: 35px; margin-bottom: 20px; cursor: pointer; font-size: 0.875em; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #8B8B8B; }
.radiobtn-nav-list .radio-container:last-child { margin-bottom: 0; }
.radiobtn-nav-list input { position: absolute; opacity: 0; cursor: pointer; }
.radiobtn-nav-list .checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #FFF; border-radius: 50%; border: 1px solid #DBDBDB; }
.radiobtn-nav-list input:checked ~ .checkmark { background-color: #fff; border: 1px solid #2472DC; }
.radiobtn-nav-list .checkmark:after { content: ""; position: absolute; display: none; }
.radiobtn-nav-list input:checked ~ .checkmark:after { display: block; }
.radiobtn-nav-list .checkmark:after { top: 5px; left: 5px; width: 8px; height: 8px; border-radius: 50%; background: #2472DC; }

/* Custom checkbox */
.custom-checkbox { display: flex; align-items: center; padding-left: 1.7rem; }
.custom-checkbox .custom-control-label::before { border-radius: 2px; border: 1px solid #DBDBDB; background-color: #fff; width: 20px; height: 20px; top: 0; left: -1.7rem; }
.custom-checkbox .custom-control-label { font-size: 14px; }
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before { background-color: #FFF; }
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {background-image: url(../images/checked-icon.svg) !important; }
.custom-checkbox .custom-control-label::after { top: 2px; width: 20px; left: -1.7rem; }
.custom-checkbox .custom-control-input:focus { outline: none; box-shadow: none; }
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before { box-shadow: none; }

/* Custom select dropdown */
.shippingaddress .quantitybox .ant-select-selection__rendered{line-height: 35px;width: 100%;}
.ant-select-selection--single .ant-select-selection__rendered{margin: 0;}
.ant-select-selection-selected-value{
  /*display: inherit !important;
    opacity: inherit !important;*/
    max-width: 90%;
    padding: 5px 15px;
    overflow:visible;
}
.ant-select-search--inline .ant-select-search__field{
  background: #F0F0F0;
  color:#000;
  font-size:14px;
      padding: 5px 15px;
}

/*================= Common Class ==============*/
/* Marging class */
.mt-50 { margin-top: 50px; }
.mt-40 { margin-top: 40px; }
.mt-30 { margin-top: 30px; }
.mt-38 { margin-top: 38px; }
.mt-25 { margin-top: 25px; }
.mt-20 { margin-top: 20px; }
.mt-15 { margin-top: 15px; }
.mt-10 { margin-top: 10px; }
.mb-50 { margin-bottom: 50px; }
.mb-40 { margin-bottom: 40px; }
.mb-38 { margin-bottom: 38px; }
.mb-30 { margin-bottom: 30px; }
.mb-25 { margin-bottom: 25px; }
.mb-20 { margin-bottom: 20px; }
.mb-15 { margin-bottom: 15px; }
.mb-10 { margin-bottom: 10px; }
/* Padding class */
.pt-50 { padding-top: 50px; }
.pt-40 { padding-top: 40px; }
.pt-30 { padding-top: 30px; }
.pt-25 { padding-top: 25px; }
.pt-20 { padding-top: 20px; }
.pt-15 { padding-top: 15px; }
.pb-50 { padding-bottom: 50px; }
.pb-40 { padding-bottom: 40px; }
.pb-30 { padding-bottom: 30px; }
.pb-25 { padding-bottom: 25px; }
.pb-20 { padding-bottom: 20px; }
.pb-15 { padding-bottom: 15px; }

/* Custom color */
.alert-danger { color: #ED1D1D; }
.text-primary { color: #2472DC; }
.review-text { font-size: 0.875em; color: #2472DC; }
.greentext { color: #51C842; }
.bluetext { color: #2472DC !important; }

/* Custom background color */
.blueBg { background-color: #2472DC; }
.greenBg { background-color: #51C842; }
.purpleBg { background-color: #4A4366; }
.darkYellowBg { background-color: #F5943E; }
.coffee-colorBg { background-color: #944E34; }
.progress-bar-success { background-color: #69CC24; }
.progress-bar-warning { background-color: #FFBC2B; }
.progress-bar-danger { background-color: #F83C50; }
.bg-transparent{background-color:transparent;}

.mobile-d-none { display: block; }
.mobile-d-block { display: none !important; }
.header-Logo { display: none; }

header a.navbar-brand{cursor:pointer;}

/* Shop cat slider */
.shop-cat-slider .owl-stage .owl-item a{/*display: inline-block;*/line-height: 0;width: 100%;}
.shop-cat-slider .owl-stage .owl-item:nth-child(4n+1) .cat-title{background: #2472DC;}
.shop-cat-slider .owl-stage .owl-item:nth-child(4n+2) .cat-title{background: #51C842;}
.shop-cat-slider .owl-stage .owl-item:nth-child(4n+3) .cat-title{background: #4A4366;}
.shop-cat-slider .owl-stage .owl-item:nth-child(4n+4) .cat-title{background: #F5943E;}
.shop-cat-slider .owl-stage .owl-item:nth-child(4n+5) .cat-title{background: #944E34;}
.shop-cat-slider .owl-stage .owl-item:nth-child(4n+6) .cat-title{background: rgb(211, 47, 47);}
.shop-cat-slider .owl-stage .owl-item .categoryBox{overflow: hidden;}
.shop-cat-slider .owl-stage .owl-item .categoryBox .img-box{width: 440px; height: 220px; position: relative; display: flex; align-items: center; justify-content: center; }
.shop-cat-slider .owl-stage .owl-item .categoryBox .img-box img{height:100%; object-fit: cover; position: relative; object-position: center center; }


.section { margin-bottom: 30px; display: inline-block; width: 100%; }
.pro-details-commentsBox .dv-star-rating label{margin-bottom:0;}

/* ant-select */

.form-group .ant-select-selection__rendered{line-height:48px;}
.form-group .ant-select-selection,.form-group .ant-select-selection--single{height:50px;}
.quantitybox .ant-select-selection{background:#F0F0F0;height:48px;border:1px solid #F0F0F0;}
.quantitybox input{height:30px;}
.quantitybox .ant-select-selection__rendered{line-height:48px;}
.ant-select-search.ant-select-search--inline .ant-select-search__field{background: transparent;}
.ant-select-focused .ant-select-search__field{border-color: transparent; border-right-width: 0px !important; outline: 0;box-shadow: none; /* -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); */}
.quantitybox .ant-select{border:0;}
.quantitybox .ant-select-focused .ant-select-selection, .quantitybox .ant-select-selection:focus,.quantitybox .ant-select-selection:active{border:1px solid #F0F0F0;box-shadow:none;}
.ant-select-selection{display: inline-flex;width: 100%; align-items: center; justify-content: space-between; }
.ant-select-selection:focus{outline: none; box-shadow: none; }
.ant-select-dropdown-menu{background-color: #FFF;padding: 0; list-style: none;border: 1px solid rgba(0,0,0,.15);}
.ant-select-dropdown-menu li{padding: 5px 15px;cursor: pointer;}
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled),body .ant-select-dropdown-menu li:focus,body .ant-select-dropdown-menu-item-selected,body .ant-select-dropdown-menu li:hover,body .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {color: #FFF; text-decoration: none ; background-color: #2472DC !important; }
.ant-select-dropdown-menu-item{text-transform: capitalize;}
.dropdown-select.ant-select-focused{box-shadow: none;outline: none !important;}
.ant-select-search__field__mirror {
  left: 15px;
  opacity: 1;
}

/* Image gallery slider */

.image-gallery-slide img{height: 100%; max-width: 100%; object-fit: contain;}
.image-gallery-slide-wrapper{text-align:center;}
.image-gallery-thumbnail img{width:100%;height:100%;object-fit:contain;}
.image-gallery-thumbnail .image-gallery-thumbnail-inner{width:100%;padding:3px;height:100%;cursor:pointer;}

.payment-checkout label{display:block;}
.close-icon{position: absolute;right:15px;top:10px;}
.image-slider .image-gallery-content{background:#fff;padding:20px;}
.sub-total{margin-top:12px;}
select.form-control{background:url(../images/arrow-right-small.svg) no-repeat right 10px top 21px;appearance: none;-webkit-appearance:none;}
.dv-star-rating-full-star{cursor: inherit !important;}
.all-review{margin-top:15px; color:#2472DC;display: block;cursor: pointer;}
.review-pagination{margin-top:15px;}
.review-pagination .rc-pagination-item {display:none;}
.product-more-info .review-pagination ul li{margin-bottom:0;border:0;font-size:30px;}
.rc-pagination-disabled {opacity:0.7;}
.product-item-delivery-Info .qyn-cart{font-size:16px;padding:8px 20px;position: relative; font-weight: 500; letter-spacing: 0.5px; line-height: 21px; height: 48px; background-color: #fff; border-color: #E5E5E5; border-radius: 4px; color: #2472DC; max-width: 220px;}
.product-item-delivery-Info .qyn-cart:hover{color: #2472DC;}
.product-item-delivery-Info .qyn-cart button{font-size: 14px;line-height: 16px;}
.product-item-delivery-Info .qyn-cart .invalid-error-msg{top: -20px;font-weight: 500;}
.qyn-cart .invalid-error-msg{width: 100%; text-align: center; left: 0;font-size: 12px;}
.product-item-delivery-Info .qyn-cart span{display:inline-block;color: #2472DC;font-weight:700;font-size: 20px;}
.product-item-delivery-Info .qyn-cart span.invalid-error-msg{font-size: 12px;}
.qyn-cart button{background:none;border:0;padding:0;}
.product-itemBox button img,.owl-carousel .owl-item .product-itemBox button img,.product-item-delivery-Info .qyn-cart button img{width:20px;}
.qyn-cart.btn-outline-primary:not(:disabled):not(.disabled).active, .qyn-cart.btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{color:inherit;}
.image-gallery-slide{overflow: hidden;}
.styles_modal__gNwvD .image-gallery-image{ min-width: 550px;height: 550px;max-width: 550px;max-height: 550px;margin:0 auto;}
.styles_modal__gNwvD{min-width:700px;padding:0;}
.styles_modal__gNwvD .image-gallery{padding:20px 0;}
.styles_closeButton__20ID4{cursor: pointer;}
.image-gallery-image {margin: 50px auto; min-width: 400px; height: 400px; max-width: 400px; max-height: 400px; }
.all-review{font-size: 14px;}
.custom-pagination .rc-pagination-total-text{font-size: 16px!important;}
.custom-pagination .rc-pagination-item-link{font-size: 24px;}


.payment-checkout .form-group .form-control{padding:15px 15px 13px 50px;} 
.StripeElement {display: block; margin: 0px 0 20px 0; max-width: 500px; padding: 10px 14px; font-size: 1em; font-family: 'Source Code Pro', monospace; box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px; border: 0; outline: 0; border-radius: 4px; background: white; }
input::placeholder {color: #aab7c4; }
input:focus, .StripeElement--focus {box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px; -webkit-transition: all 150ms ease; transition: all 150ms ease; }
.StripeElement.IdealBankElement, .StripeElement.PaymentRequestButton {padding: 0; }

/* Common style */
.fixed{position:fixed;}
.invalid-error-msg{position: absolute;top:-20px;}
.stock-error-msg{position: absolute;bottom:-20px;width: 100%;text-align: center; left: 0;}
/* Title */
.main-title { font-size: 1.563em; color: #414141; }
.sub-title { font-size: 1.563em; color: #414141; }
.title-subheader{display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;}
.title-subheader .sub-total{margin-top: 0;}
.title-subheader .sub-total h6{margin-bottom: 0;}

/* product-itemBox */

.rattingBox span { color: #CECDCA; font-size: 13px; }
.rattingBox .checked { color: #FAC917; }
.categoryBox { /*display: inline-block;*/ width: 100%; position: relative; }
.categoryBox .cat-title { width: 100%; position: inherit; display: inline-block;bottom: 0; left: 0; padding: 20px; }
.categoryBox .cat-title h5 { font-size: 1.188em; color: #FFF; margin: 0; font-weight: 400; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;max-width: 360px;}
.product-itemBox { width: 100%;max-width: 240px; min-width: 240px;}
.product-itemBox .imgBox { width: 100%; padding: 5px; display: flex; align-items: center; justify-content: center; margin-bottom: 20px; height: 217px; cursor: pointer; }
.product-itemBox .imgBox img { width: auto; max-height:180px; }
.product-itemBox .pro-details { padding:0px 5px 0px 5px; display: flex; flex: 1 0 auto; flex-direction: column; position: relative; }
.product-itemBox .pro-details .product-name, .product-itemBox .pro-details strike { font-size: 0.875em; color: #8B8B8B; font-weight: 300; }
.product-itemBox .pro-details strike{font-size:0.7em;margin-left:5px;}
.product-itemBox .pro-details .product-name { color: #414141; font-weight: 400; cursor: pointer; display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  min-height: 32px;
}
.product-itemBox .pro-details h4 { display: block; color: #414141; }
.product-itemBox .pro-details .info { width: 100%; display: inline-flex; align-items: center; justify-content: space-between; margin-bottom: 10px;}
.dv-star-rating-star{margin-right: 5px;margin-bottom: 0;}
.product-itemBox .pro-details .info .delivery-offter-text { font-size: 14px; margin-bottom: 0; }
.product-itemBox .pro-details .btn {font-weight: 500; letter-spacing: 0.5px; line-height:21px;background: linear-gradient(50deg,rgba(36, 114, 220, 0.05) 50%,transparent 50.5%), #fff; background-position: right;  transition: all 0.5s; background-size:250% 100%; padding: 8px 20px 5px; height:48px; font-size: 0.875em; background-color: #fff; border-color: #dadce0; border-radius: 4px; color: #2472DC;/* position: absolute;*/ bottom:1px; left: 0; display: flex;justify-content: space-around;align-items: center;padding: 8px 15px;position: relative;z-index: 1;}
.product-itemBox .pro-details .btn:hover{background-position:left;}
.product-itemBox-more { display: flex; align-items: center; justify-content: center; width: 247px; max-width: 100%; }
.product-itemBox-more .moreBtn {cursor: pointer !important; font-size: 1.125em; display: flex; align-items: center; color: #414141; height: 417px; border: none; width: 100%; text-align: center; justify-content: center; background-color: rgba(36, 114, 220, 0.05); }
.product-itemBox-more .moreBtn span { font-size: 32px; margin: 0; line-height: normal; }
.product-itemBox-more .moreBtn:hover { /*box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.2); */background-color: transparent!important; color: #2472DC;}
.cart-feild input{width:50px;display: inline-block;vertical-align: middle;padding:2px 10px; text-align:center;height: 30px;margin-right:0 !important;}
.product-listinview .product-itemBox{margin: 10px 0px 15px !important; padding: 0 15px; width: 25% !important; }
.more-product-btn{display: flex;justify-content: center;align-items: center;flex-direction: column;flex-wrap: wrap;background: transparent!important;}
.more-product-btn span{width: 100%;}
/*.more-item-btn{position: absolute;right: 0;top: 0;}*/

/* HEADER CSS */
.header { display: inline-block; width: 100%; height: 75px; background: #FFF;z-index: 999; position: fixed; top: 0; left: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.header .navbar { padding: 12px 45px 12px 25px; align-items: center;}
/*.header .left-navBox{margin: 7px 0 0;}*/
.header .menuBtn ,.menu-wrapper{cursor: pointer;display: inline-block;}
.header .navbar-brand { margin-left: 20px; padding-top: 0; padding-bottom: 4px; }
.header .justify-content-md-center { margin-left: -120px; }
.header .justify-content-md-center ul{background-color: #FFF; box-shadow: 0 0 5px rgba(0,0,0,0.1);padding: 0; list-style: none;max-height: 30vh;overflow: auto;margin: 0;}
.header .justify-content-md-center ul li{padding: 10px 20px; cursor: pointer;}
.header .justify-content-md-center ul li:hover{color: #2472DC;}
.header .justify-content-md-center .form-inline { margin: 0; }
.header .navbar-right { display: inline-flex; align-items: center;/* margin: 7px 0 0;*/ }
.header .navbar-right .login-btn { display: inline-flex; align-items: center; padding: 0px; margin-right: 35px; color: #414141; font-size: 1em; }
.header .navbar-right .login-btn span { margin-right: 8px; }
.header .navbar-right .login-btn label { margin-bottom: 0; cursor: pointer;}
.header .navbar-right .dropdown.show .btn.dropdown-toggle { color: #2472DC; }
.header .navbar-right .btn.dropdown-toggle { text-transform:capitalize; color: #414141; font-size: 16px; margin-right: 10px; border: none; display: inline-flex; align-items: center; }
.header .navbar-right .btn.dropdown-toggle .sm-profile-img{width: 25px; height: 25px;background-color: #FFF; display: flex; align-items: center; justify-content: space-between; margin-right: 5px; border-radius: 100%; border: 1px solid #e9e9e9; overflow: hidden; }
.header .navbar-right .btn.dropdown-toggle .sm-profile-img img{width: 100%;margin: 0 auto;width: auto;object-fit: cover;}
.header .navbar-right .btn.dropdown-toggle img{object-fit: cover;margin-right: 10px;}
.header .navbar-right .btn.dropdown-toggle:hover, .header .navbar-right .btn.dropdown-toggle:focus { background-color: transparent !important;}
.header .navbar-right .dropdown-menu { top:54px; border-radius: 0; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); border: none; width: 227px;padding: 1.1rem 0;left:-1px;  }
.header .navbar-right .dropdown-menu .dropdown-item { display: flex; align-items: center; font-size: 0.875em;padding: 0.5rem 1.1rem; cursor: pointer; }
.header .navbar-right .dropdown-menu .dropdown-item:hover { background-color: #fff; color: #2472DC; }
.header .navbar-right .dropdown-menu .dropdown-item:hover span:before { color: #2472DC; }
.header .navbar-right .dropdown-menu .dropdown-item span { font-size: 1.1em; margin-right: 20px; color: #000; width: 18px; text-align: center; }
.header .navbar-right .cartIcon-box {cursor: pointer; width: 40px; height: 40px; border-radius: 100%; background-color: #F1F1F1; text-align: center; display: flex; align-items: center; justify-content: center; position: relative; }
.header .navbar-right .cartIcon-box span {min-width:24px; height: 24px; background-color: #2472DC; border-radius: 50px; display: inline-block; justify-content: center; align-items: center; position: absolute; top: -10px; left: 30px; color: #FFF; padding: 2px 8px; font-size: 14px; }
.logo { width: 50px; display: inline-block; margin: 10px 0; }
.logo img { max-width: 100%; }

/*main-content*/
.main { display: inline-block; margin-top: 68px; width: 100%; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.main .sidebar { width: 330px; position: fixed; height: calc(100% - 75px); z-index: 10; background-color: #F9F9F9; left: -100%; top: 75px;z-index: 1111; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; box-shadow: 1px 2px 5px rgba(0,0,0,0.2); }
.main.fixed-sidebar .sidebar{ -webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12); box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12); }
.main .sidebar .navbar-nav { padding: 0px 0px 20px; overflow-x: auto; height:calc(100% - 135px); margin: 0 0 100px; }
.main .sidebar .navbar-nav .nav-item { width: 100%; padding: 0 20px; }
.main .sidebar .navbar-nav .nav-item:hover { background-color: #EDEDED; }
.main .sidebar .navbar-nav .nav-item.active { background-color: #EDEDED; }
.main .sidebar .navbar-nav .nav-item.active .nav-link{color:#007bff;}
.main .sidebar .navbar-nav .nav-item .nav-link { display: block; font-size: 0.938em; color: #414141; line-height: 49px; padding: 0 50px 0 0; position: relative; }
.main .sidebar .navbar-nav .nav-item .nav-link img { margin-right: 20px; }
.main .sidebar .navbar-nav .nav-item .nav-link:hover { color: #2472DC; }
.main .sidebar .navbar-nav .nav-item .nav-link .badge { float: right; color: #FFF; padding: 5px 10px; font-size: 0.875em; font-weight: 300; border-radius: 20px; position: absolute; top: 12px; right: 0; }
.main .sidebar .navbar-nav .nav-item ul.subnav { list-style: none; width: 100%; display:block; padding: 0px 0 0 50px; }
.main .sidebar .navbar-nav .nav-item ul.subnav li a { font-size: 0.875em; color: #8B8B8B; line-height: 38px; }
.main .sidebar .navbar-nav .nav-item ul.subnav li a:hover { color: #2472DC; }

 
.page-overlay{height: 100vh;width: 100%;position: fixed;background: transparent;z-index: 998;display: none;}
.nav-wrap .page-overlay{display: block;}
.home-page.nav-wrap .page-overlay{display: none;}


/* sidebar-footer */

.main .sidebar .sidebar-footer { position: absolute; bottom: 0; padding: 20px 15px 20px 15px; width: 100%; display: inline; background-color: #F9F9F9; }
.main .sidebar .sidebar-footer .social-media { padding: 0; }
.main .sidebar .sidebar-footer .social-media li { display: inline-block;margin: 4px; }
.main .sidebar .sidebar-footer .social-media li a { background-color: #575757; text-align: center; display: flex; justify-content: center; width: 37px; height: 37px; border-radius: 50px; align-items: center; color: #FFF; }
.main .sidebar .sidebar-footer .social-media li a:hover { background-color: #2472DC; }
.main .sidebar .sidebar-footer .social-media li .facebook-icon:hover { background-color: #3b5998; }
.main .sidebar .sidebar-footer .social-media li .twitter-icon:hover { background-color: #1da1f2; }
.main .sidebar .sidebar-footer .social-media li .linkedin-icon:hover { background-color: #0077b5; }
.main .sidebar .sidebar-footer .copyrights-text { font-size: 0.875em; color: #8B8B8B;margin-bottom: 0; }
.main .sidebar .sidebar-footer .copyrights-text.hovereffect{cursor: pointer;}
.main .sidebar .sidebar-footer a.copyrights-text{color: #414141;}
.main .sidebar .sidebar-footer a.copyrights-text:hover{color: #2472DC}




/* banner-slider-section */

.main #page-content-wrapper { width: 100%; display: inline-block; margin-left: 0px; padding: 40px;transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
.main .banner-slider-section { max-height: 310px; overflow: hidden;}
.main .banner-slider-section .banner-slider { max-width: 1280px; margin: 0 auto;width:100%;}
.main .banner-slider-section .banner-slider .owl-nav .disabled { opacity: 1; }
.main .banner-slider-section .banner-slider img{max-width: 100%; height: auto;}
.main .section .sub-title { margin-bottom: 30px; text-transform:capitalize; cursor: pointer; }
.main.nav-wrap .sidebar { left: 0 ; }
.main .sidebar .navbar-brand { display: none; }
.main.nav-wrap #page-content-wrapper { width: calc(100% - 330px); margin-left: 330px; }
.product-details-content .ant-select-dropdown-menu{margin: 0; }
.product-slider-section .owl-carousel .owl-stage{display: flex;}
.product-slider-section .owl-carousel .owl-item{min-width: 240px;}

/* owl-carousel */
.owl-carousel .owl-dots { display: none; }
.owl-carousel .owl-nav { width: 100%; margin-top: 0; }
.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next { padding: 0 30px !important; margin: 0; background-color: rgba(255, 255, 255, 0.8); border-radius: 0; }
.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span { font-size: 44px; }
.owl-carousel .owl-nav [class*='owl-']:hover { background-color: rgba(255, 255, 255, 0.8); color: #2472DC; }
.owl-carousel .owl-nav button.owl-prev { position: absolute; left: 0px; height:100%; top: 0; border-right: 1px solid rgba(0, 0, 0, 0.04); }
.owl-carousel .owl-nav button.owl-next { position: absolute; right: 0px; height: 100%; top: 0; border-left: 1px solid rgba(0, 0, 0, 0.04); }
.product-slider-section .owl-carousel .owl-nav button.owl-prev, .product-slider-section .owl-carousel .owl-nav button.owl-next{/*height:calc(100% - 50px);*/}
.nav-wrap.fixed-sidebar #page-content-wrapper{width: 100%; margin-left: 0;	}
.owl-theme .owl-nav button.disabled { opacity: 0 ;display: none; }
.owl-carousel .owl-nav button.disabled { opacity: 0 ;display: none; }

.banner-slider .owl-theme .owl-nav button.disabled { opacity: 0 ; }
.banner-slider .owl-carousel .owl-nav button.disabled { opacity: 0 ; }
.banner-slider.mobile-banner{display: none;}

.product-slider .owl-stage { display: flex; }
.product-slider .owl-item { display: flex; flex: 1 0 auto; }
.product-slider .owl-item .item { display: flex; }

.product-cat-slider .item a { background: #eee; color: rgba(0, 0, 0, 0.87); font-weight: 400; line-height: 1.43em; margin: 0; min-height: 0; padding: 8px 12px; text-transform: none; border-radius: 20px; display: inline-block; font-size: 0.875em; }
.product-cat-slider .owl-nav button.owl-prev, .product-cat-slider .owl-nav button.owl-next, .product-cat-slider .owl-nav button.owl-prev, .product-cat-slider .owl-nav button.owl-next { padding: 0 15px !important; }
.product-cat-slider .owl-nav button.owl-prev span, .product-cat-slider .owl-nav button.owl-next span, .product-cat-slider .owl-nav button.owl-prev span, .product-cat-slider .owl-nav button.owl-next span { line-height: normal !important; }

/* product slider */
.product-slider-section { /*max-height:530px;*/ overflow: hidden; }
.heading { display: inline-block; width: 100%; position: relative; margin: 20px 0; font-size: 35px; color: #8f9595; text-transform: uppercase; text-align: center; }
.heading:before { content: ''; position: absolute; width: 50px; bottom: -5px; left: 50%; margin-left: -25px; height: 2px; background: #2f83c0; }
.card .fas { font-size: 100px; display: inline-block; margin: 20px auto; color: #8f9595; }
.card:hover .fas { color: #2f83c0; }
.category-page-wrapper{margin-bottom:50px;width:100%;float: left;}

/* Login section */
.login-wrap { max-width: 680px; width: 100%; background-color: #F0F0F0; margin:20px auto; /*position: absolute; top: 58%; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 50%; transform: translate(-50% , -50%);*/ padding: 65px 119px; text-align: center; border-radius: 4px; }
.login-wrap .main-title { font-weight: 500; }
.login-wrap p { font-weight: 400; font-size: 0.875em; margin-bottom: 40px; color: #414141; line-height: 23px; }
.login-wrap .form-control { height: 50px;; border-radius: 4px; border: 1px solid #DBDBDB; background-color: #fff; padding: 14px 15px; font-size: 14px; }
.login-wrap a { font-size: 14px; }
.login-wrap .btnbox .btn { width: 237px; color:#2472DC;}
.login-wrap .form-group .error-msg{text-align: left;}
/*.login-wrap .custom-checkbox { margin-left: 20px; }*/

/* Breadcrumb */
.breadcrumb { border-radius: 0; margin-bottom: 0; background-color: transparent !important; padding: 14px 0; }
.breadcrumb .breadcrumb-item { line-height: normal; color: #8B8B8B; font-size:0.875em; font-weight: 400; display: flex; align-items: center; flex-wrap: wrap; }
.breadcrumb .breadcrumb-item a { color: #8B8B8B; font-size: 0.875em; font-weight: 400; }
.breadcrumb .breadcrumb-item + .breadcrumb-item { padding-left: 15px; cursor: pointer; }
.breadcrumb .breadcrumb-item.active { color: #8B8B8B; font-weight: 500;}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before { display: inline-block; padding-right: 15px; color: #6c757d; content: ""; background-image: url(../images/arrow-right-small.svg); background-repeat: no-repeat; width: 4px; height: 7px; background-size: 30% 100%; }

/* Product Listing Styles */
.product-listing-content { display:block; padding: 0 !important; }
.product-listing-content .cat-banner-stripe { display: flex; align-items: center; }
.cat-no-image{width:50%;text-align:center;background:#f1f1f1;}
.product-listing-content .cat-banner-stripe .cat-banner-name { width: 50%; display: flex; align-items: center; justify-content: center; height: 183px; padding: 0 15px;}
.product-listing-content .cat-banner-stripe .cat-banner-name h3 { color: #fff; font-size: 1.563em;margin-bottom: 0; }
.product-listing-content .cat-banner-stripe .cat-banner-img { background-color: #000; /*background-image: url(../images/cat-banner-stripe.svg);*/ width: 50%; height: 183px; background-repeat: no-repeat; background-size: cover; }
.cat-banner-img img{object-fit:cover;width:100%;}
.product-listing-content .breadcrumb-wrap { display: inline-flex; width: 100%; justify-content: space-between; border-bottom: 1px solid #E6E6E6; padding: 8px 25px; }
.product-listing-content .breadcrumb-wrap .select-Box { margin-bottom: 0; display: flex; align-items: center;margin-top:5px; }
.product-listing-content .breadcrumb-wrap .select-Box .dropdown-select{min-width: 180px;}
.product-listing-content .breadcrumb-wrap .breadcrumb { border-radius: 0; margin-bottom: 0; background-color: transparent; }
.product-listing-content .breadcrumb-wrap .breadcrumb .breadcrumb-item a { color: #8B8B8B; font-size: 0.875em; font-weight: 400; }
.product-listing-content .breadcrumb-wrap .breadcrumb .breadcrumb-item.active { color: #838383; font-size: 0.875em; }
.product-listing-content .breadcrumb-wrap .breadcrumb .breadcrumb-item + .breadcrumb-item { padding-left: 15px; }
.product-listing-content .breadcrumb-wrap .breadcrumb .breadcrumb-item + .breadcrumb-item::before { display: inline-block; padding-right: 15px; color: #6c757d; content: ""; background-image: url(../images/arrow-right-small.svg); background-repeat: no-repeat; width: 4px; height: 7px; background-size: 30% 100%; }
.product-listing-content .breadcrumb-wrap .selectdropdownBox .bootstrap-select { min-width: 140px; width: 140px; }
.product-listing-content .breadcrumb-wrap .selectdropdownBox label { font-weight: 600; font-size: 0.875em; color: #414141; margin-right:5px; }
.product-listing-content .breadcrumb-wrap .selectdropdownBox .ant-select-selection{display: flex;border:0; align-items: center;justify-content: space-between;}
.product-listing-content .breadcrumb-wrap .selectdropdownBox .ant-select-selection:focus{box-shadow: none;outline: none;}
.product-listing-content .breadcrumb-wrap .selectdropdownBox .ant-select-selection .ant-select-arrow{margin-left: 15px;}
.ant-select-arrow .ant-select-arrow-icon svg{display:none;}
.ant-select-arrow i:after{ content: "\f0d7";font-family: 'Font Awesome\ 5 Free';font-weight:700;color:rgba(0,0,0,.54);}
.product-listing-content .breadcrumb-wrap .selectdropdownBox .btn.dropdown-toggle { background-color: transparent !important; border: none; font-size: 0.875em; color: #8B8B8B; padding: 13px 10px; }
.product-listing-content .breadcrumb-wrap .selectdropdownBox .btn.dropdown-toggle:focus, .product-listing-content .breadcrumb-wrap .selectdropdownBox .btn.dropdown-toggle:hover { outline: none !important; box-shadow: none; background-color: transparent !important; }
.product-listing-content .breadcrumb-wrap .selectdropdownBox .dropdown-menu.show { top: 8px !important; left: inherit !important; right: 0; border-radius: 0; }
.nomore-item-text{display: block; text-align: center; width: 100%; margin: 15px 0 25px; }
.product-listing-content .contentWrap { display: inline-flex; width: 100%;/* min-height:100vh; */flex-wrap: wrap;}
.product-listing-content .contentWrap .category-sidebar { width: 330px; position: relative; background-color: #F9F9F9; display: inline-block; }
.product-listing-content .contentWrap .product-listing-wrap { display: inline-block; width: calc(100% - 330px); margin-left: 0; padding: 30px 40px; }
.product-listing-content .contentWrap .product-listing-wrap .item{display: flex;flex-wrap: wrap;}
.product-listing-content .contentWrap .product-listing-wrap.product-all-item {width: 100%; }
.product-listing-content .contentWrap .product-listing-wrap.empty-products-list {width: 100%; }
.product-listing-content .contentWrap .single-product-listing .product-itemBox{max-width:inherit;width:16.5%;margin-bottom:50px;display:inline-block;margin: 0 10px 15px ;min-width: inherit;}

.filter-sidepanel.product-listing-content .contentWrap{min-height: 100vh;}
/* category-nav  */
.category-nav { padding: 15px 0px; }
.category-nav .card { margin: 0; text-align: left; border-radius: 0 !important; border: none; background-color: transparent; padding: 0; }
.category-nav .card .card-header { border-radius: 0 !important; background-color: transparent; border-bottom: none; padding: 10px 20px; }
.category-nav .card .card-header a { color: #414141; font-size: 1em; }
.category-nav .card .card-body { padding: 0; max-width: 100%; overflow: auto; margin-bottom: 5px; }
.category-nav .card .card-body li a {text-transform:capitalize; color: #8B8B8B; font-size: 0.875em; padding: 8px 20px; display: block; }
.category-nav .card .card-body li a:hover { background-color: rgba(0, 0, 0, 0.05); color: #2472DC; }
.category-nav .card .card-body .nav-more-btn{padding: 8px 20px;    color: #4285f4; font-size: 14px; font-weight: 600; }
.category-nav .card .card-body .nav-more-btn:hover, .category-nav .card .card-body .nav-more-btn:active, .category-nav .card .card-body .nav-more-btn.active{border-color: transparent !important; }
.category-nav .card .card-body .custom-checkbox { padding-left: 35px; margin: 10px 0; }
.category-nav .card .card-body .custom-checkbox .custom-control-label { color: #8B8B8B; font-size: 0.875em; cursor: pointer; text-transform:capitalize; }
.category-nav .card .card-body .custom-checkbox .custom-control-label::before { left: -35px; } 
.category-nav .card .card-body .custom-checkbox .custom-control-label::after { left: -35px; } 
.category-nav .card .card-body.radiobtn-nav-list { padding: 15px 20px !important; }
.category-nav .card .card-body.checkbox-nav-list { padding: 0 20px; }
.categoryList-mobile { display: none; width: 100%; padding: 0px 10px; height: 36px; overflow: hidden; margin: 20px 0 0; }
.categoryList-mobile .product-cat-slider .item a:hover { background-color: rgba(36, 114, 220, 0.3); color: #414141; }

/* couponcodeStripe */
.couponcodeStripe { display: flex; width: 100%; padding: 20px 25px; background-color: #EBF3FE; margin-bottom: 30px; align-items: center; border-radius: 2px; overflow: hidden;}
.couponcodeStripe .coupon-img { margin: 5px 15px 0 0; vertical-align: top; }
.couponcodeStripe .coupon-text { display: inline-block; }
.couponcodeStripe .coupon-text h4 { margin-bottom: 10px; font-weight: 400; font-size: 1.188em; color: #414141; }
.couponcodeStripe .coupon-text p { margin-bottom: 0; font-size: 0.875em; color: #6F6F6F; }
.couponcodeStripe .owl-carousel{ width: calc(100% - 51px);}

/*Filter right sidenav*/
.filter-sidebar { width: 280px; position: fixed; right: -100%; top: 75px; height: calc(100% - 67px); background-color: #fff; z-index: 50; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); -webkit-transition: opacity 0.3s linear, left 0.3s ease-out; -moz-transition: opacity 0.3s linear, left 0.3s ease-out; -o-transition: opacity 0.3s linear, left 0.3s ease-out; transition: opacity 0.3s linear, left 0.3s ease-out; overflow: auto; transition: 0.3s ease-in-out;}
.filter-sidebar .filter-header { display: flex; justify-content: space-between; padding: 10px 25px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); align-items: center;}
.filter-sidebar .filter-header a{font-size: 0.875em;text-transform: uppercase;}
.filter-sidebar .filter-header .btn { margin-top: 0; }
.filter-sidebar .shortByBox { display: flex; padding: 15px 18px; align-items: center; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.filter-sidebar .shortByBox i { margin-right: 20px; color: #8B8B8B; }
.filter-sidebar .shortByBox h4 { font-size: 1em; margin-bottom: 0; }
.filter-sidebar .shortByBox h4 span { display: block; font-size: 0.875em; line-height: 20px; color: #8B8B8B; }
.filter-sidebar .filters-list { display: inline-block; width: 100%; padding: 15px 18px; align-items: center; }
.filter-sidebar .filters-list h6 { font-size: 0.938em; text-transform: uppercase; padding-bottom: 15px; }
.filter-sidebar .filters-list ul { padding: 0; } 
.filter-sidebar .filters-list ul li { font-size: 1em #414141; display: flex; align-items: center; cursor: pointer; margin-bottom: 15px; }
.filter-sidebar .filters-list ul li i { margin-right: 20px; color: #8B8B8B; }
.filter-sidebar .category-nav { padding: 15px 25px; }
.filter-sidebar .category-nav .card .card-header{padding: 10px 0;}
.filter-sidebar .category-nav .card .card-header .filtered-shortBy-title .btn { margin-top: 0; }
.filter-sidebar .category-nav .card .card-body { padding: 5px 0 !important; }
.filtered-cat-title .btn { background-color: transparent; }
body.open-filter{overflow: hidden;position: fixed; width: 100%;}

/* Product Details */
.product-details-content { display: inline-block; width: 100%; padding: 0 0 80px 0; }
.product-details-content .breadcrumb { padding: 20px 0;background-color:transparent }
.product-details-content .pro-title { font-size: 1.375em; color: #414141; font-weight: 400; }
.product-details-content .review-ratting-count { display: flex; align-items: center; margin-bottom: 10px;}
.product-details-content .review-ratting-count .rattingBox { margin-right: 20px; }
.product-details-content .product-item-slider { margin-bottom: 30px; }
.product-details-content .pro-detailsBox-border { border-right: 1px solid rgba(0, 0, 0, 0.1); }
.product-details-content .pro-detailsBox-border .review-ratting-count .dv-star-rating{margin: 0 8px 0 0;}
.product-details-content .pro-detailsBox-border .review-ratting-count .dv-star-rating label{margin-bottom: 0;}
.product-details-content .item-description { display: inline-block; width: 100%; }
.product-details-content .item-description h4 { font-size: 1.125em; color: #414141; }
.product-details-content .item-description ul { padding: 0 0 10px 20px;  }
.product-details-content .item-description ul li { margin-bottom: 20px; font-size: 0.875em; color: #414141; }
.product-details-content .item-description .quantitybox .bootstrap-select { width: 100%; }
.product-details-content .item-description .quantitybox .bootstrap-select ul li { margin-bottom: 0; }

/* product-item-delivery-Info */
.product-item-delivery-Info { display: inline-block; width: 100%; }
.product-item-delivery-Info span { display: flex; align-items: center; font-size: 0.938em; text-transform: capitalize;}
.product-item-delivery-Info span img { margin-right: 12px; }
.product-item-delivery-Info span .areacode { margin-left: 12px; }
.product-item-delivery-Info .delivery-title { font-weight: 500; }
.product-item-delivery-Info .priceBox { display: flex; width: 100%; justify-content: space-between; }
.product-item-delivery-Info .priceBox strike { font-size: 16px; color: #414141; font-weight: 300; }
.product-item-delivery-Info .sellername { display: flex; padding: 5px 0 10px; }
.product-item-delivery-Info .sellername .imgBox { border-radius: 100%; width: 36px; height: 36px; margin-right: 20px; }
.product-item-delivery-Info .sellername .info h6 { font-size: 0.875em; }
.product-item-delivery-Info .offertext { margin-bottom: 0; font-size: 12px; color: #A3A3A3; }
.product-item-delivery-Info .offertext span { color: #414141; font-size: 12px; display: inline-block; }
.product-item-delivery-Info .offertext a { display: inline-block; font-size: 12px; }
.product-item-delivery-Info span button img{margin-right: 0;}

/* Product More Info */
.product-more-info { display: inline-block; width: 100%; padding: 25px 0; border-top: 1px solid rgba(0, 0, 0, 0.2); }
.product-more-info ul { padding: 0 0 0 20px; }
.product-more-info ul li { font-size: 0.875em; color: #414141; margin-bottom: 15px; }
.product-more-info ul li:last-child{margin-bottom: 0;}
.product-more-info .d-flex { align-items: center; }
.product-more-info .review-buttonBox { display: inline-block; text-align: center; width: 100%; padding: 60px 0; }
.pro-total-ratings { width: 99px; text-align: center; margin: 0 auto; }
.pro-total-ratings h2 { font-size: 40px; color: #414141; display: flex; align-items: center; margin-bottom: 0; }
.pro-total-ratings h2 img { margin-left: 15px; }
.pro-total-ratings p { font-size: 0.75em; color: #8B8B8B; }
.product-stars-ratting { display: inline-block; width: 100%; max-width: 340px; padding: 0 !important; list-style: none; }
.product-stars-ratting li { display: flex; align-items: center; }
.product-stars-ratting li .progress { width: 70%; margin: 0 10px; height: 5px; }
.product-stars-ratting li img { margin: 0 5px 0 8px; }
.pro-details-commentsBox { padding: 20px 0;}
.pro-details-commentsBox h6 { color: #414141; font-size: 1em; text-transform: capitalize;}
.pro-details-commentsBox p { color: #414141; font-size: 0.875em; text-transform: capitalize;}
.pro-details-commentsBox span { color: #8B8B8B; font-size: 0.875em;text-transform: capitalize; }
.product-review{ border-bottom: 1px solid rgba(0, 0, 0, 0.2); width: calc(100% - 30px); margin: 0 auto; padding: 0;}
.product-review:last-child{border-bottom: 0;}

/* Cart Style */
.cart-content { display: inline-block; width: 100%; padding: 40px 0; }
.cart-content .selected-items-list { display: inline-block; width: 100%; margin-bottom: 50px; }
.cart-content .selected-items-list .sub-title { margin: 10px 0; }
.cart-content .selected-items-list .cart-totalBox{margin: 10px 0;}
.cart-content .selected-items-list .cart-totalBox h6 { margin: 0 15px 0 0; font-weight: 300; font-size: 0.938em; }
.cart-content .selected-items-list .cart-totalBox h6 span { font-weight: 500; }
.cart-content .selected-items-list .card .card-header { border-bottom: none; display: flex; align-items: center; justify-content: space-between; padding: 20px; flex-wrap: wrap;}
.cart-content .selected-items-list .card .card-body { padding: 10px 0; }
.cart-content h6{font-weight:400;}
.cart-content h6 span{font-weight:700;}
.mobile-add-to-cart{display: none;}

/* Cart Items list style */
.cart-items-list { list-style: none; padding: 0; }
.cart-items-list li { display: flex; width: 100%; padding: 20px; flex-wrap: wrap;}
/*.cart-items-list li .item-imgbox { margin: 0 10px 0 0; width: 80px; height: 64px; overflow: hidden; display: inline-block; }*/
.cart-items-list li .item-info-wrapper{width:calc(100% - 100px);display:inline-block;vertical-align:top;}
.cart-items-list li .item-info { display: inline-block; padding: 0 10px 0 0; width:68%; vertical-align: top;margin-bottom: 20px; }
.cart-items-list li .item-info h6 { font-size: 0.875em; color: #414141; font-weight: 400; }
.cart-items-list li .item-info span { font-size: 1.125em; color: #414141; margin-bottom: 20px; display: block; }
.cart-items-list li .item-info .action-text { display: flex; align-items: center; }
.cart-items-list li .item-info .action-text .btn { border: none; background-color: transparent !important; border-radius: 0; padding: 0; line-height: 12px;font-size: 14px; font-weight: 500;}
.cart-items-list li .item-info .action-text .btn:hover { color: #414141; }
.cart-items-list li .item-info .action-text .btn:first-child { border-right: 1px solid #2472DC; padding-right: 15px;padding-left:0px; }
.cart-items-list li .item-info .action-text .btn:last-child { border-right:0 ;}
.add-to-cart-btn{justify-content: space-between!important;}

.cart-items-list li .item-quantityBox { max-width:220px; padding: 0 10px 0 0; margin-right:5px; min-width:220px; vertical-align: top; display: inline-block; }
.cart-items-list li .item-quantityBox img{width:20px;}
.cart-items-list li .item-quantityBox .bootstrap-select { width: 100% !important; }
.cart-items-list li .item-quantityBox button{margin-top:0px;font-size: 14px;color: #2472DC;}
.cart-items-list li .item-quantityBox .btn{padding:7px 10px; border: 1px solid #E5E5E5; display: flex; align-items: center; justify-content: space-around; }
.cart-items-list li .item-quantityBox .cart-feild input{border-color:rgba(36, 114, 220, 0.25) !important;}
.cart-items-list li .item-quantityBox .cart-feild input:focus{box-shadow: none!important;border-color:rgba(36, 114, 220, 0.5)!important;}
.cart-items-list li .item-quantityBox .bootstrap-select ul li { padding: 0; }
.cart-items-list li .item-quantityBox .btn .cart-feild input{box-shadow: none;outline: none;-webkit-appearance:none!important;}

.cart-items-list li .priceBox { display: inline-block; float:right; vertical-align: top; }
.cart-items-list li .priceBox{display: block;}
.cart-items-list li .priceBox h6 { font-size: 0.938em; color: #414141; margin-top:10px; }
.cart-items-list .item-imgbox{margin-right: 10px;width: 64px;}
.cart-items-list.my-cart .item-imgbox{width: auto;}
.cart-items-list .item-imgbox img{width:64px;height:64px;object-fit:contain;}
/*.cart-items-list .item-info-wrapper{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}*/

/* Profile styles Start */
.profile-wrap { display: inline-block; width: 100%; }
.profile-wrap .profile-tabs .nav-pills { border: 1px solid rgba(0, 0, 0, 0.1); }
.profile-wrap .profile-tabs .nav-pills .nav-link { border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-radius: 0; padding: 18px 25px; font-size: 0.875em; color: #414141; display: flex; align-items: center; line-height: normal; }
.profile-wrap .profile-tabs .nav-pills .nav-link:last-child { border-bottom: none; }
.profile-wrap .profile-tabs .nav-pills .nav-link span { margin-right: 20px; font-size: 18px; }
.profile-wrap .profile-tabs .nav-pills .nav-link.active { color: #FFF !important; background-color: #007bff !important; }
.profile-wrap .profile-tabs .nav-pills .nav-link:hover { background-color: rgba(0, 0, 0, 0.05); color: #414141; }
.profile-wrap .form-control{background:#f0f0f0;border:1px solid #f0f0f0;}
.profile-wrap .card-link{color:rgba(0,0,0,0.8);font-size: 18px;}
.profile-wrap .card-link img{margin-right:15px;}

/* Widhlish items */
.wishlist-items { display: inline-block; width: 100%; }
.wishlist-items .cart-items-list li { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.wishlist-items .cart-items-list li .item-info { width: calc(100% - 110px); }
.wishlist-items .cart-items-list li .item-info span { margin-bottom: 10px; }

/* Manage Address */
.addressBox { background-color: #F6F6F6; display: inline-block; width: 100%; padding: 25px; }
.addressBox:hover { box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
.addressBox h6 { font-size: 0.875em; color: #414141;text-transform:capitalize; }
.addressBox .btn { border: none; background-color: transparent; border-radius: 0; padding: 0; line-height: 12px; display: inline-flex; align-items: center; }
.addressBox .btn:first-child { margin-right: 15px; }
.addressBox .btn img { margin-right: 7px; }
.addressBox span { font-size: 0.875em; color: #414141; font-weight: 500; margin-bottom: 5px; display: block; }
.addressBox p { font-size: 0.875em; color: #414141; font-weight: 400; text-transform:capitalize;}

/* Personal Information */
.personal-Information { display: inline-block; width: 100%; }
.personal-Information label { font-size: 0.813em; color: #414141; line-height: 8px; font-weight:500; display: block;}
.personal-Information .form-control { font-size: 0.875em; color: #414141; }

/* My Order */
.myorderBox { display: inline-block; width: 100%; }
.myorderBox .cart-items-list li { border-bottom: 1px solid rgba(0, 0, 0, 0.1);padding: 20px; }
.myorderBox .cart-items-list li:last-child{border-bottom: 0;}
.myorderBox .cart-items-list li .item-info { width: calc(100% - 75px); padding: 0;margin-bottom: 0; }
.myorderBox .cart-items-list li .item-info h6 { font-size: 1em; color: #414141; font-weight: 500; max-width: 100%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.myorderBox .cart-items-list li .item-info .deleveryTags { display: block; /*margin-top: 10px;*/ }
.myorderBox .cart-items-list li .item-info .deleveryTags span { display: inline-block; margin-right: 20px; font-size: 0.813em; font-weight: 400; margin-bottom: 10px;}
.myorderBox .cart-items-list li .item-info .deleveryTags span strong { font-size: 13px; color: #414141; }
.myorderBox .cart-items-list li .priceBox h6 { font-size: 1.125em;margin-top: 0; }
.myorderBox .cart-items-list.my-cart .item-imgbox{margin-right: 0;}
.myorderBox .cart-items-list.my-cart li {padding: 20px 0; }
/* Checkout styles */
.checkout-content { display: inline-block; width: 100%; padding: 40px 0; }
.checkout-content .wizard-progress { width: 100%; margin: 50px auto 50px auto; }
.checkout-content .wizard-progress .step-indicator { border-collapse: separate; display: table; margin-left: 0px; position: relative; table-layout: fixed; text-align: center; vertical-align: middle; padding-left: 0; }
.checkout-content .wizard-progress .step-indicator li { display: table-cell; position: relative; float: none; padding: 0; width: 1%; }
.checkout-content .wizard-progress .step-indicator li:after { background-color: #F0F0F0; content: ""; display: block; height: 7px; position: absolute; width: 100%; top: 16px; left: 50%; }
.checkout-content .wizard-progress .step-indicator li:last-child:after { display: none; }
.checkout-content .wizard-progress .step-indicator li.active .step { border-color: #2ca8ff; color: #2ca8ff; }
.checkout-content .wizard-progress .step-indicator li.active .caption { color: #414141; }
.checkout-content .wizard-progress .step-indicator li.complete .step { background-color: #2472DC; }
.checkout-content .wizard-progress .step-indicator li.complete .caption { color: #414141; }
.checkout-content .wizard-progress .step-indicator li.complete:after { background-color: #2472DC; }
.checkout-content .wizard-progress .step-indicator li .step { background-color: #D8D8D8; border-radius: 50%; color: #ccc; font-size: 24px; height: 38px; line-height: 38px; margin: 0 auto; position: relative; width: 38px; z-index: 1; }
.checkout-content .wizard-progress .step-indicator li .step:hover { cursor: pointer; }
.checkout-content .wizard-progress .step-indicator .caption { color: #414141; padding: 11px 16px; font-size: 16px; }
.checkout-content .checkout-process { display: inline-block; width: 100%; }
.checkout-content .checkout-process .card { border-radius: 0; border: 1px solid rgba(0, 0, 0, 0.1); }
.checkout-content .checkout-process .card .card-header { background-color: transparent; padding: 0; border-bottom: none; }
.checkout-content .checkout-process .card .card-header a { display: flex; align-items: center; position: relative; justify-content: space-between; padding: 50px 30px 50px 30px; font-size: 1.125em; color: #414141; line-height: normal; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.checkout-content .checkout-process .card .card-header a.collapsed { padding: 50px 30px; transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.checkout-content .checkout-process .card .card-header img { margin-right: 15px; }
.checkout-content .checkout-process .card .card-body { padding: 15px 70px 0 70px; }
.checkout-content .checkout-process .card .card-link .downarroBox img { transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.checkout-content .checkout-process .card .card-link.collapsed .downarroBox img { transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }

.checkout-content .shippingAddress-box { display: inline-block; width: 100%; }
.checkout-content .shippingAddress-box h5 { font-size: 1.125em; color: #414141; line-height: normal; margin-bottom: 10px; }
.checkout-content .shippingAddress-box p { font-size: 0.875em; color: #414141; line-height: normal; }
.shippingaddress .quantitybox .ant-select-selection{height: 48px;}
.checkout-content .radiobtn-nav-list .radio-container { margin: 0 10px 15px 0; }
.checkout-content .radiobtn-nav-list .radio-container:first-child { margin: 0 10px 15px 0; }
.checkout-content .btn { padding: 12px 35px; }
.checkout-content .form-group { margin-bottom: 30px; }
.checkout-content .form-group .bootstrap-select { width: 100% !important; }
.checkout-content .form-group .form-control { background-color: #F0F0F0; border-color: #F0F0F0; }

/* Order Summary*/
.orderSummary { width: 100%; display: inline-block; padding: 45px 25px; background-color: #F4F4F4; }
.orderSummary .title { display: flex; align-items: center; font-size: 1.125em; color: #414141; }
.orderSummary .title span { margin-right: 15px; font-size: 1.5em; }
.orderSummary .itemlist { display: inline-block; width: 100%; padding-bottom: 30px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.orderSummary .itemlist .spanBox { display: flex; align-items: center; justify-content: space-between; }
.orderSummary .itemlist .spanBox span { font-size: 0.875em; color: #414141; font-weight: 500; }
.orderSummary .itemlist .list-group { max-height: 275px; overflow: hidden;overflow-y: auto;flex-direction: row;flex-wrap: wrap; }
.orderSummary .itemlist .list-group .list-group-item { display: inline-flex; background-color: transparent; align-items: center; border: none; padding: 0 10px 7px 0; width: 100%;}
.orderSummary .itemlist .list-group .list-group-item .imgBox { margin-right: 10px; display: inline-block; max-width: 43px; width: 100%; }
.orderSummary .itemlist .list-group .list-group-item .item-name { font-size: 0.813em; color: #414141; margin-right: 10px; display: inline-block;width: 100%; }
.orderSummary .itemlist .list-group .list-group-item .price { float: right; display: inline-block; }
.orderSummary .itemsTotal { display: inline-block; width: 100%; }
.orderSummary .itemsTotal .spanBox { display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px; font-size: 0.875em; color: #414141; }
.orderSummary .itemsTotal .spanBox:last-child { margin-bottom: 0; }
.orderSummary .itemsTotal .spanBox strong { font-weight: 500; }

.icon-form-group { position: relative; }
.icon-form-group .input-icon { position: absolute; top: 17px; left: 15px; color: #414141; }
.icon-form-group .icon-icon-calendar.input-icon { font-size: 20px; top: 15px; }
.icon-form-group .icon-icon-locked.input-icon { font-size: 20px; top: 15px; }
.icon-form-group .form-control { padding: 11px 15px 11px 50px; }

/* Custom Scrollbar*/
.smooth-scroll::-webkit-scrollbar { width: 4px; background-color: #FFF; }
.smooth-scroll::-webkit-scrollbar-thumb { border-radius: 0px; background-color: #414141; }

/* About Us */
.aboutus-content { display: inline-block; width: 100%; padding: 15px 0  50px; }
.aboutus-content .lg-title { font-size: 3.438em; color: #414141; padding: 25px 0 40px; margin-bottom: 0; } 
.aboutus-content .infoBox { display: inline-block; width: 100%; padding: 50px 0 0; border-top: 1px solid rgba(0, 0, 0, 0.1); }
.aboutus-content .infoBox p { margin-bottom: 25px; }
.aboutus-content p { font-size: 0.875em; color: #414141; margin-bottom: 0; }

/* Thank You page */
.confirmBox { display: inline-block; width: 100%; margin-top: 10px; }
.confirmBox img { max-width: 208px; }
.confirmBox h2 { font-size: 34px; color: #414141; margin: 30px 0; }
.confirmBox p { font-size: 1em; color: #414141; line-height: normal; margin-bottom: 8px; }


/*header serach select box */
.hdr-searchDropdown.form-control{width: 100%; margin: 0px 0 0; border-radius: 0; background-color: #FFF; border: none; box-shadow: 0 0 5px rgba(0,0,0,0.3); -moz-appearance: none; -webkit-appearance: none; }
.page-loader{position: absolute;top: 50%;left: 50%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);z-index:99999;}
.product-loader{left: 50%;z-index:99999;width: 100%; text-align: center;}
.product-loader .react-spinner-material{margin: 0 auto;}

.image-gallery-thumbnails-wrapper{margin:20px 0;}
.image-gallery-content .image-gallery-slide-wrapper .image-gallery-fullscreen-button, .image-gallery-slide-wrapper .image-gallery-play-button, .image-gallery-content .image-gallery-slide-wrapper span{display: none; }
.image-gallery-thumbnail{width: 45px !important; height: 45px; display: inline-flex !important; justify-content: center; align-items: center; padding: 2px; max-height:45px; }
.image-gallery-thumbnail.active {border: 1px solid #2472DC; }

.review-rating-wrap{display: flex;width: 100%; align-items: center;justify-content: center; padding:30px 15px; }
.review-rating-wrap .wrapInfo{max-width: 420px; width: 100%; }
.review-rating-wrap .dv-star-rating label{margin-bottom: 0; } 
.breadcrumb {padding: .75rem 1rem .75rem 0 !important; }
h2.breadcrumb-item.sub-title{color: #000;}
.breadcrumb .breadcrumb-item.active span,.breadcrumb-item span{display:none !important;}
li.selected,.header .justify-content-md-center ul li:hover {background:#256DDC;color:#fff;}

/* input-range-slider */
.input-range__slider {-webkit-appearance: none; -moz-appearance: none; appearance: none; background: #2472DC; border: 1px solid #2472DC; border-radius: 100%; cursor: pointer; display: block; height: 1rem; margin-left: -0.5rem; margin-top: -0.65rem; outline: none; position: absolute; top: 50%; -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out; transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out; transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out; width: 1rem; }
.input-range__slider:active {-webkit-transform: scale(1.3); transform: scale(1.3); }
.input-range__slider:focus {box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
.input-range--disabled .input-range__slider {background: #cccccc; border: 1px solid #cccccc; box-shadow: none; -webkit-transform: none; transform: none; }
.input-range__slider-container {-webkit-transition: left 0.3s ease-out; transition: left 0.3s ease-out; }
.input-range__label {color: #aaaaaa; font-family: "Helvetica Neue", san-serif; font-size: 0.8rem; -webkit-transform: translateZ(0); transform: translateZ(0); white-space: nowrap; }
.input-range__label--min, .input-range__label--max {bottom: -1.4rem; position: absolute; }
.input-range__label--min {left: 0; }
.input-range__label--max {right: 0; }
.input-range__label--value {position: absolute; top: -1.8rem; }
.input-range__label-container {left: -50%; position: relative; }
.input-range__label--max .input-range__label-container {left: 50%; }
.input-range__track {background: #ddd; border-radius: 0.3rem; cursor: pointer; display: block; height: 0.3rem; position: relative; -webkit-transition: left 0.3s ease-out, width 0.3s ease-out; transition: left 0.3s ease-out, width 0.3s ease-out; }
.input-range--disabled .input-range__track {background: #eeeeee; }
.input-range__track--background {left: 0; margin-top: -0.15rem; position: absolute; right: 0; top: 50%; }
.input-range__track--active {background: #2472DC; }
.input-range {height: 1rem; position: relative; width: 100%; }

div .img{cursor: pointer; }
.blur_image{filter:grayscale(1); opacity: 0.7; }
.header .navbar-right .login-btn label{cursor: pointer;}
.product-slider-section a {
  cursor: inherit !important;
  padding-top: 10px;
}
.pro-details a {
  width: auto;
  max-width: 100%;
}
/* .pro-details a h6 { 
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.product-slider-section .product-itemBox:hover .product-name {color:#2472DC;}
.product-slider-section  .owl-carousel .owl-nav button.owl-prev{cursor:inherit !important;}
.product-slider-section  .owl-carousel .owl-nav button.owl-prev span, .product-slider-section .owl-carousel .owl-nav button.owl-next span{cursor: pointer;}
.close-popup{position: absolute; right: -15px; top: -15px; width: 30px; height: 30px; background: #1890ff; color: #fff; line-height: 30px; font-size: 22px; }
.popup{padding:20px;}

/* Profile picture */
.profile-picture .inner-image{overflow: hidden; }
.profile-picture{display: inline-block;position: relative;}
.profile-picture img{width:80px;height:80px;border-radius:50%;object-fit:cover;cursor: pointer}
.profile-picture .upload-file{position: absolute;opacity:0;top:0;left:0;width:100%;height:100%;cursor: pointer}
.profile-picture .upload-file input{width:100%;height:100%; cursor: pointer}
.profile-picture a{position: absolute;bottom:5px;right:-5px;font-size:20px; cursor: pointer}
.profile-picture .fa-camera{padding: 5px; background: #fff; border-radius: 50%; border: 2px solid #007bff; font-size: 16px;}

.cart-items-list .item-imgbox,.cart-items-list .item-info h6{cursor: pointer;}
.swal-footer{text-align:center;}
.swal-title{text-transform:capitalize;font-weight:400;}
.swal-button{min-width:100px;margin-bottom:10px;}
.small-popup{height:170px;}
.swal-title:not(:first-child){padding-bottom:20px;}
.swal-overlay--show-modal .swal-modal{padding-bottom:30px;}
.styles_overlay__CLSq-{z-index:9999;}
.banner-caption{max-width:560px;left:90px;position:absolute;top:50%;transform:translateY(-50%);background:rgb(0, 83, 175);padding:16px 24px;color:#fff;}
.banner-caption h3{color:#fff;font-weight:500;margin-bottom:5px;font-size: 1.3rem;}
.banner-caption .shopnow-link span{margin-left:5px;}
  

.banner-captionRight{max-width:560px;right:90px;position:absolute;top:50%;transform:translateY(-50%);background:rgb(0, 83, 175);padding:16px 24px;color:#fff;}
.banner-captionRight h3{color:#fff;font-weight:500;margin-bottom:5px;font-size: 1.3rem;}
.banner-captionRight .shopnow-link span{margin-left:5px;}
.desktop-icon{display: inline-flex; align-items: center; }
.search-arrow{display: none !important; transition:0.5s;-webkit-transition:0.5s;}
.mobile-icon{display:none!important;}
.search-overlay{background:#fff;position:absolute;top:65px;left:0;display:none;width:100%;height:calc(100vh - 65px);}
.no-more-item {padding: 15px; text-align: center; color: #000; background-color: rgba(36, 114, 220, 0.05); }

/*.product-slider-section  .owl-carousel  .owl-item:last-child {width: 70px  !important; margin-right: 0  !important;}

.product-slider-section  .owl-carousel  .owl-item:last-child  .product-itemBox-more  .moreBtn{padding:0;}*/
.product-slider-part .owl-carousel .owl-stage::-webkit-scrollbar , .category-slider-section .owl-carousel .owl-stage::-webkit-scrollbar{width: 12px; }
.product-slider-part .owl-carousel .owl-stage::-webkit-scrollbar-track , .category-slider-section .owl-carousel .owl-stage::-webkit-scrollbar-track{/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */ border-radius: 10px; }
.product-slider-part .owl-carousel .owl-stage::-webkit-scrollbar-thumb , .category-slider-section .owl-carousel .owl-stage::-webkit-scrollbar-thumb{border-radius: 10px; /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */ }
.product-slider-part .owl-carousel .owl-stage::-webkit-scrollbar, .category-slider-section .owl-carousel .owl-stage::-webkit-scrollbar{display:none}



.categoryList-mobile .owl-carousel .owl-stage::-webkit-scrollbar {
  width: 12px;
}

.categoryList-mobile .owl-carousel .owl-stage::-webkit-scrollbar-track {

  border-radius: 10px;
}


.categoryList-mobile .owl-carousel .owl-stage::-webkit-scrollbar-thumb {
  border-radius: 10px;

}


.categoryList-mobile .owl-carousel .owl-stage::-webkit-scrollbar {
  display: none
}

/* error 404 page */		
.error-page{display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 80px);}		
.error-page img{width: 80%;}		
.error-page h2{font-size: 72px;font-weight: bold;}		
.error-page h3{font-size: 28px;font-weight: bold;text-transform: uppercase;}		
.error-page p{font-size: 16px;color: #a0a0a0;}
  
.transpot-part{/*display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;*/}
.selected-items-list .empty-cart-btn {font-weight: 500; letter-spacing: 0.5px; line-height:21px;background: linear-gradient(50deg,rgba(36, 114, 220, 0.05) 50%,transparent 50.5%), #fff; background-position: right;  transition: all 0.5s; background-size:250% 100%; padding: 8px 20px 5px; height:48px; font-size: 0.875em; background-color: #fff; border-color: #dadce0; border-radius: 4px; color: #2472DC; bottom:1px; left: 0; display: flex;justify-content: space-around;align-items: center;padding: 8px 15px;position: relative;z-index: 1;}
.selected-items-list .empty-cart-btn :hover{background-position:left;}
.decrement-btn , .increment-btn{font-size: 20px!important;}


.offline-outer{display: flex;justify-content: center;align-items: center;height: 100vh;flex-direction: column;}
.offline-inner{max-width: 500px;padding: 30px;background: #fff;text-align: center;}
.offline-inner img{margin-bottom: 20px;}
.offline-inner h4{font-size: 18px;color: #000;font-weight: bold;}
.offline-inner p{font-size: 16px;padding-bottom: 0;margin-bottom: 0; line-height: 22px;color: #cdcdcd;}
.offline-inner .btn{margin-top: 15px;}
.offline-inner{max-width: calc(100% - 30px);}

/* item-imgbox */

.myorderBox .cart-items-list.my-cart li{display: block;}
.item-imgbox-outer .item-imgbox a{display: inline-block;margin: 8px;}
.myorderBox .cart-items-list li .item-imgbox-outer .item-info{display: none;}
.cart-items-list .item-imgbox-outer .item-imgbox{display: inline-block;}
.item-imgbox-outer.open-imgbox .item-imgbox a{display: inline-block;margin: 0;margin-right: 10px;width: 64px;}
.myorderBox .cart-items-list li .item-imgbox-outer.open-imgbox .item-info{display: block;border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.myorderBox .cart-items-list li .item-imgbox-outer.open-imgbox .item-imgbox:last-child .item-info{display: block;border-bottom: 0;}

.cart-items-list .item-imgbox-outer.open-imgbox .item-imgbox{display: flex;padding-top: 15px;}
.transpot-part .radiobtn-nav-list{padding: 0!important;}
.my-cart .item-imgbox-outer.open-imgbox .item-imgbox a{width: auto;max-width: 100%;}
.my-cart .deleveryTags{display: flex;justify-content: space-between;flex-wrap: wrap;}
.my-cart .deleveryTags span{color: #958b8a;}
.my-cart .deleveryTags span strong{color: #878787;}
.item-imgbox-img{width: 64px!important;height: 64px!important;}
/* shipment-details */

.shipment-details .item-imgbox{padding-bottom: 15px;}
.shipment-details .item-imgbox a{margin-right: 10px;}
.shipment-details{padding-top: 15px;border-top: 1px solid rgba(0, 0, 0, 0.1);}
.shipment-header {display: flex;justify-content: space-between; flex-wrap: wrap; }
.shipment-header span{display: block;color: rgba(0, 0, 0, 0.85);}
.checkout-content .mercadopago .form-group .form-control{padding: 15px;}

/* all-product-list */
.all-product-list .product-itemBox{margin-bottom: 20px;}

.info-text span{font-size: 14px;}
.page-footer{height: 70px;display: block;}
 .mobile-cart-view{display: none;}


@media only screen and (min-device-width: 320px){
  .category-slider-section .owl-carousel .owl-stage-outer::-webkit-scrollbar,
.categoryList-mobile .owl-carousel .owl-stage::-webkit-scrollbar,
.categoryList-mobile .owl-carousel .owl-stage-outer::-webkit-scrollbar,
.categoryList-mobile::-webkit-scrollbar,
.product-slider-part .owl-carousel .owl-stage-outer::-webkit-scrollbar { width: 0 !important }
.category-slider-section .owl-carousel .owl-stage-outer,
.categoryList-mobile .owl-carousel .owl-stage,
.categoryList-mobile .owl-carousel .owl-stage-outer,
.categoryList-mobile,
.product-slider-part .owl-carousel .owl-stage-outer { overflow: -moz-scrollbars-none; }
.category-slider-section .owl-carousel .owl-stage-outer,
.categoryList-mobile .owl-carousel .owl-stage,
.categoryList-mobile .owl-carousel .owl-stage-outer,
.categoryList-mobile,
.product-slider-part .owl-carousel .owl-stage-outer { -ms-overflow-style: none; }
/* .category-slider-section .owl-carousel .owl-stage-outer::-webkit-scrollbar,
.product-slider-part .owl-carousel .owl-stage-outer::-webkit-scrollbar { width: 0 !important } 
.category-slider-section .owl-carousel .owl-stage-outer,
.product-slider-part .owl-carousel .owl-stage-outer { overflow: -moz-scrollbars-none; }
.category-slider-section .owl-carousel .owl-stage-outer,
.product-slider-part .owl-carousel .owl-stage-outer { -ms-overflow-style: none; } */
}
